Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

Implement PositionToCurrentControl class and the associated python bindings (#991)
  .github/workflows/conda-forge-ci.yml
  bindings/python/CMakeLists.txt
  bindings/python/JointLevelControllers/CMakeLists.txt
  bindings/python/JointLevelControllers/include/BipedalLocomotion/bindings/JointLevelControllers/Module.h
  bindings/python/JointLevelControllers/include/BipedalLocomotion/bindings/JointLevelControllers/PositionToCurrentController.h
  bindings/python/JointLevelControllers/src/Module.cpp
  bindings/python/JointLevelControllers/src/PositionToCurrentController.cpp
  bindings/python/RobotInterface/CMakeLists.txt
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/IRobotControl.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/ISensorBridge.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/YarpModule.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/YarpRobotControl.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/YarpSensorBridge.h
  bindings/python/RobotInterface/src/IRobotControl.cpp
  bindings/python/RobotInterface/src/ISensorBridge.cpp
  bindings/python/RobotInterface/src/Module.cpp
  bindings/python/RobotInterface/src/YarpModule.cpp
  bindings/python/RobotInterface/src/YarpRobotControl.cpp
  bindings/python/RobotInterface/src/YarpSensorBridge.cpp
  bindings/python/System/include/BipedalLocomotion/bindings/System/Advanceable.h
  bindings/python/bipedal_locomotion_framework.cpp.in
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/CMakeLists.txt
  src/JointLevelControllers/CMakeLists.txt
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/PositionToCurrentController.h
  src/JointLevelControllers/src/PositionToCurrentController.cpp
  src/JointLevelControllers/tests/CMakeLists.txt
  src/JointLevelControllers/tests/PositionToCurrentControllerTest.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/PositionToCurrentController.h
Labels: :building_construction: GitHub action, :hammer: component: RobotInterface, :snake: bindings

Remove explicit definition of advance is_output_valid and get_output from LeggedOdometry bindings
  bindings/python/FloatingBaseEstimators/src/LeggedOdometry.cpp
Labels: :snake: bindings

Implement EMAWithLimits
  bindings/python/JointLevelControllers/CMakeLists.txt
  bindings/python/JointLevelControllers/include/BipedalLocomotion/bindings/JointLevelControllers/EMAWithLimits.h
  bindings/python/JointLevelControllers/src/EMAWithLimits.cpp
  bindings/python/JointLevelControllers/src/Module.cpp
  src/JointLevelControllers/CMakeLists.txt
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/EMAWithLimits.h
  src/JointLevelControllers/src/EMAWithLimits.cpp
Labels: :snake: bindings

Fix alpha range validation and add unit tests for EMAWithLimits
  src/JointLevelControllers/src/EMAWithLimits.cpp
  src/JointLevelControllers/tests/CMakeLists.txt
  src/JointLevelControllers/tests/EMAWithLimitsTest.cpp
Labels: none

Update EMAWithLimits.cpp
  src/JointLevelControllers/src/EMAWithLimits.cpp
Labels: none

Update OutputPort binding to use reference internal policy for get_output
  bindings/python/System/include/BipedalLocomotion/bindings/System/Advanceable.h
Labels: :snake: bindings

Update OutputPort binding to use reference return value policy for get_output
  bindings/python/System/include/BipedalLocomotion/bindings/System/Advanceable.h
Labels: :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*
