Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

Use resource finder to load friction models in JointTorqueControlDevice (#961)
  CHANGELOG.md
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Modify JointTorqueControlDevice to use motor temperature as additional input for PINN (friction estimation)
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PINNFrictionEstimator.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PassThroughControlBoard.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
  devices/JointTorqueControlDevice/src/PassThroughControlBoard.cpp
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Modify name of flag alsoMotorTemperature->includeMotorTemperatureAsInput
  devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
Labels: none

Only link pcl_common to PerceptionInterface instead of the full PCL_LIBRARIES
  src/RobotInterface/CMakeLists.txt
Labels: :hammer: component: RobotInterface

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Link realsense-test to ${PCL_LIBRARIES}
  utilities/realsense-test/CMakeLists.txt
Labels: :computer: utilities

Only link pcl_common to PerceptionInterface instead of the full PCL_LIBRARIES (#962)
  CHANGELOG.md
  src/RobotInterface/CMakeLists.txt
  utilities/realsense-test/CMakeLists.txt
Labels: :computer: utilities, :hammer: component: RobotInterface

Modify JointTorqueControlDevice to use motor temperature as additional input for PINN (#960)
  CHANGELOG.md
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PINNFrictionEstimator.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PassThroughControlBoard.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
  devices/JointTorqueControlDevice/src/PassThroughControlBoard.cpp
Labels: none

Changes after review
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Add param in AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
Labels: :hammer: component: Estimators

Remove unused inputs
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
Labels: :hammer: component: Estimators

Modify python bindings
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
Labels: :snake: bindings

Fix RobotDynamicsEstimatorDevice
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Remove unused inputs in tests
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
Labels: :hammer: component: Estimators

Fix config files of tests
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Fix logic in UKFMeasurement
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/src/UkfMeasurement.cpp
Labels: :hammer: component: Estimators

Change logic in RDE and code refactor
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/KinDynWrapper.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
Labels: :hammer: component: Estimators

Changes after review
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

Check model validity
  src/Estimators/src/SubModel.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
Labels: :hammer: component: Estimators

Changes after review
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/SubModel.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
Labels: :hammer: component: Estimators

Add possibility to control linear actuator
  src/RobotInterface/CMakeLists.txt
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

Update CHANGELOG
  CHANGELOG.md
Labels: none

Remove white spaces
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Fix code after testing on the robot
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/src/SubModel.cpp
Labels: :hammer: component: Estimators

Debugging
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Fix logic for friction torque saturation
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix code, implement in the correct place
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Change logic of RobotDynamicsEstimator and code refactoring (#959)
  CHANGELOG.md
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/KinDynWrapper.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators, :snake: bindings

Remove ubuntu 20.04 CI and add ubuntu 22.04 and 24.04
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action

Update src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

Update src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

Update src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

Add possibility to control linear actuator (#964)
  CHANGELOG.md
  src/RobotInterface/CMakeLists.txt
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

Fix logic for friction torque saturation (#965)
  CHANGELOG.md
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Fix wrong URL and hash for ergoCubSN001 model in RobotDynamicsEstimator tests
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
Labels: :hammer: component: Estimators

Remove use of deprecated FrameGrabberInterfaces.h YARP header
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpCameraBridge.cpp
Labels: :hammer: component: RobotInterface

Fix wrong URL and hash for ergoCubSN001 model in RobotDynamicsEstimator tests (#968)
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
Labels: :hammer: component: Estimators
