Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

Update CHANGELOG: document new setpoint checks in TSID and IK, and remove separate gravity direction and forward velocity settings in IK::GravityTask
  CHANGELOG.md
Labels: none

Invert condition for set point validation in DistanceTask update method
  src/IK/src/DistanceTask.cpp
Labels: :hammer: component: IK

Fix docs job
  .github/workflows/gh-pages.yml
Labels: :building_construction: GitHub action

Bump m.css version
  .github/workflows/gh-pages.yml
Labels: :building_construction: GitHub action

Fix non-unique mann_trajectory_generator subsection name
  src/ML/include/BipedalLocomotion/ML/VelMANNTrajectoryGenerator.h
Labels: :hammer: component: ML

Bump spdlog version in CI conda-forge
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Add motor temperature sensor support to SensorBridge and YarpSensorBridge
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

Add the possibility to log the motor temperature in the YarpRobotLoggerDevice.
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Reformat YarpSensorBridgeImpl.h file
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Attempt to fix the documentation
  src/ML/include/BipedalLocomotion/ML/VelMANNTrajectoryGenerator.h
Labels: :hammer: component: ML

Remove v0.20.0 from the documentation
  docs/config.toml
Labels: :book: documentation

Fix the generation of the documentation (#947)
  docs/config.toml
  src/ML/include/BipedalLocomotion/ML/VelMANNTrajectoryGenerator.h
Labels: :book: documentation, :hammer: component: ML

Bump spdlog and ros2 versions in CI conda-forge (#945)
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Reformat YarpSensorBridgeImpl.h file
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

Add motor temperature sensor support to SensorBridge and YarpSensorBridge
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

Add the possibility to log the motor temperature in the YarpRobotLoggerDevice.
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Fix wrong message errors in YarpSensorBridge
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
Labels: :hammer: component: RobotInterface

Update CHANGELOG to include motor temperature sensor support in SensorBridge and YarpRobotLoggerDevice
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update deprecated actions in gh-pages action
  .github/workflows/gh-pages.yml
Labels: :building_construction: GitHub action

Add motor temperature sensor support to SensorBridge and YarpSensorBridge and YarpRobotLoggerDevice (#946)
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

Improve JointTorqueControl device
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

Add back publishing of friction and desired motor current if set from configuration file.
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Add joint type handling to YarpSensorBridge in case of prismatic and revolute joints
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

Add error handling for unsupported joint types in YarpSensorBridge
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

Update the CHANGELOG.md
  CHANGELOG.md
Labels: none

Add joint type handling to YarpSensorBridge in case of prismatic and revolute joints (#949)
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

Set velocity threshold for friction saturation from configuration file
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Add initialize of vectorsCollectionServer
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Some improvements in the JointTorqueControl device (#948)
  CHANGELOG.md
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Fix formatting comment in FloatingBaseSystemVelocityKinematics header
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
Labels: :hammer: component: ContinuousDynamicalSystem

Rename IntegratorFloatingBaseSystemKinematics into IntegratorFloatingBaseSystemVelociyKinematics
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemVelocityKinematics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

Enhance documentation for FloatingBaseSystemAccelerationKinematics with detailed descriptions of State, StateDerivative, and Input parameters
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemAccelerationKinematics.h
Labels: :hammer: component: ContinuousDynamicalSystem

Add tests for IntegratorFloatingBaseSystemAccelerationKinematics
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemAccelerationKinematics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

Typos in the documentation
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
Labels: :hammer: component: ContinuousDynamicalSystem

Add FloatingBaseSystemAccelerationKinematics class and update CMakeLists.txt
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemAccelerationKinematics.h
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemAccelerationKinematics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

Rename FloatingBaseSystemKinematics to FloatingBaseSystemVelocityKinematics and update related references
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemVelocityKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/ContinuousDynamicalSystem/tests/test_floating_base_system_kinematics.py
  examples/InverseKinematics/inverse_kinematics.ipynb
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemVelocityKinematics.cpp
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemKinematics.cpp
  src/IK/include/BipedalLocomotion/IK/IntegrationBasedIK.h
  src/IK/include/BipedalLocomotion/IK/QPFixedBaseInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/tests/QPFixedBaseInverseKinematicsTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :school: Examples, :snake: bindings
