Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

🚀 Release 0.20.0
  CHANGELOG.md
  CMakeLists.txt
  docs/config.toml
  docs/pages/main-page.dox
Labels: :book: documentation

Update BaseEstimatorFromFootIMU.cpp
  src/Estimators/src/BaseEstimatorFromFootIMU.cpp
Labels: :hammer: component: Estimators

Update BaseEstimatorFromFootIMU.h
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/BaseEstimatorFromFootIMU.h
Labels: :hammer: component: Estimators

Update model path in BaseEstimatorFromFootIMUTest to use iCubGenova02
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
Labels: :hammer: component: Estimators

update changelog
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

populate all outputs of unycycle trajectory generator
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners

fix merging of zmp initial state
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners

add zmp generator
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
Labels: :hammer: component: Planners

update changelog after rebase
  CHANGELOG.md
Labels: none

add optional outputs for zmp and dcm trajectory
  examples/UnicycleTrajectoryGenerator/main.cpp
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
Labels: :hammer: component: Planners, :school: Examples

only zmpGenerator outputs as optional
  examples/UnicycleTrajectoryGenerator/main.cpp
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
Labels: :hammer: component: Planners, :school: Examples

update description of planner parameters
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
Labels: :hammer: component: Planners

Update CMakeLists.txt CHANGELOG.md and main-page.dox after the release
  CHANGELOG.md
  CMakeLists.txt
  docs/pages/main-page.dox
Labels: :book: documentation

fix conversion from idyntree pose to manif one
  src/Planners/src/UnicycleUtilities.cpp
Labels: :hammer: component: Planners

Added explicit log_text option in the logger configuration files
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
Labels: none

Added possibility to avoid logging text
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Improved warning message when adding a channel without metadata in the logger
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added prints on the current saving stage in the logger device
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Improved the time diagnostic of recordVideo in the logger device
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Updated CHANGELOG
  CHANGELOG.md
Labels: none

added 'VariableLinearTask.h and VariableLinearTask.cpp'
  src/TSID/include/BipedalLocomotion/TSID/VariableLinearTask.h
  src/TSID/src/VariableLinearTask.cpp
Labels: :hammer: component: TSID

changed the task name from VariableLinearTask to SPUTorqueLimitTask
  src/TSID/include/BipedalLocomotion/TSID/SPUTorqueLimitTask.h
  src/TSID/src/SPUTorqueLimitTask.cpp
Labels: :hammer: component: TSID

renamed the task from 'SPUTorqueLimitTask' to 'TorqueFeasibleRegionTask'
  src/TSID/include/BipedalLocomotion/TSID/TorqueFeasibleRegionTask.h
  src/TSID/src/SPUTorqueLimitTask.cpp
  src/TSID/src/TorqueFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

minor changes
  src/TSID/include/BipedalLocomotion/TSID/TorqueFeasibleRegionTask.h
  src/TSID/src/TorqueFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

Removed useless "s"s when printing time in logger
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Remvoed ROS1 device publisher and example device
  CHANGELOG.md
  CMakeLists.txt
  cmake/AddBipedalLocomotionYARPDevice.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/CMakeLists.txt
  devices/examples/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/README.md
  devices/examples/ROSPublisherTestDevice/app/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/launch-ros-publisher-test.xml
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/publisher/ros-publisher.xml
  devices/examples/ROSPublisherTestDevice/include/BipedalLocomotion/ROSPublisherTestDevice.h
  devices/examples/ROSPublisherTestDevice/ros-publisher-test-runner.xml
  devices/examples/ROSPublisherTestDevice/src/ROSPublisherTestDevice.cpp
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
  src/YarpUtilities/src/RosPublisher.cpp
Labels: :hammer: component: YarpUtilities

Avoid using iCubGazeboV3 in baseEstimatorFromFootIMU
  CHANGELOG.md
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
Labels: :hammer: component: Estimators

Add missing ContinuousDynamicalSystem row to Exported components in the README
  CHANGELOG.md
  README.md
Labels: none

Add link of the PR to the CHANGELOG
  CHANGELOG.md
Labels: none

Attempt to fix BaseEstimatorFromFootIMU test
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
Labels: :hammer: component: Estimators

Fixed YarpRobotLoggerDeviceTest
  devices/YarpRobotLoggerDevice/tests/launch-yarp-robot-logger.xml
Labels: none

Bump yarp version on CI
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action

Add ContinuousDynamicalSystem row in main-page.dox
  docs/pages/main-page.dox
Labels: :book: documentation

renamed the task from 'TorqueFeasibleRegionTask' to 'VariableFeasibleRegionTask'
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

Fixed generation of bindings in Windows
  bindings/CMakeLists.txt
  bindings/python/CMakeLists.txt
Labels: :snake: bindings

Explicit the dependency between Math and System
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*
