Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

...
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/robot-dynamics-estimator-right-leg.xml
  src/Estimators/src/UkfState.cpp
Labels: :hammer: component: Estimators

...
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/robot-dynamics-estimator-right-leg.xml
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Solve conflict
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/all_joints_mc.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/ft_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/imu_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/mas-remapper.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/launch-robot-dynamics-estimator.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/robot-dynamics-estimator-right-leg.xml
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Fix RDE device code based on the new library implementation
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/imu_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/mas-remapper.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/robot-dynamics-estimator-right-leg.xml
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/wrench_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
Labels: :hammer: component: Estimators, :snake: bindings

Solve conflict
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Solve conflict
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
Labels: :hammer: component: Estimators

Merge jtcvc/addkf branch
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
Labels: none

Fix RDE device
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Fix bug RDE
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Commit error to fix
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

update config files of logger device
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Multiply kfc to friction published on yarp
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Fix bug base velocity for initial state
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Remove some published variables
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Remove white spaces
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
Labels: none

add waist imu
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
Labels: none

Fix bugs in RDE library for accelerometer dynamics and contact wrenches
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
Labels: :hammer: component: Estimators

Change return false to debug print for biases
  src/Estimators/src/RobotDynamicsEstimator.cpp
Labels: :hammer: component: Estimators

[ergoCubSN000] update config files of the logger device (#913)
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
Labels: none

Add option FRAMEWORK_COMPILE_Ros1Publisher and deprecate BipedalLocomotion::YarpUtilities::RosPublisher class
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/examples/ROSPublisherTestDevice/CMakeLists.txt
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
Labels: :hammer: component: YarpUtilities

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix
  src/YarpUtilities/CMakeLists.txt
Labels: :hammer: component: YarpUtilities

Add option FRAMEWORK_COMPILE_Ros1Publisher and deprecate BipedalLocomotion::YarpUtilities::RosPublisher class (#914)
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/examples/ROSPublisherTestDevice/CMakeLists.txt
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
Labels: :hammer: component: YarpUtilities

add rpc commands for YarpLoggerDevice
  devices/YarpRobotLoggerDevice/CMakeLists.txt
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
Labels: none

update changelog
  CHANGELOG.md
Labels: none

implement a unique rpc command
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
Labels: none

Update devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
  devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
Labels: none

make torso pitch a fix joint
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Estimate motor and joint velocities through KF (#909)
  CHANGELOG.md
  devices/JointTorqueControlDevice/CMakeLists.txt
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

add port prefix to rpc port name
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

change rpc port name
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
Labels: none

Update devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
Labels: none

Update devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
  devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
Labels: none

add default port prefix
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Update devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
  devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
Labels: none

Fix info string
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Add rpc commands to YarpLoggerDevice (#915)
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/CMakeLists.txt
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/thrifts/YarpRobotLoggerDeviceCommands.thrift
Labels: none

populate all outputs of unycycle trajectory generator
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners

update changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*
