Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

Apply suggestions from code review
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  examples/MANN/config/config_joypad.toml
  examples/MANN/config/config_mann.toml
  examples/VelMANN/README.md
  examples/VelMANN/config/config_mann.toml
  src/Estimators/src/LeggedOdometry.cpp
Labels: :hammer: component: Estimators, :school: Examples

Add PI-ADHERENT framework to ML (#889)
  CHANGELOG.md
  bindings/python/FloatingBaseEstimators/src/LeggedOdometry.cpp
  bindings/python/ML/CMakeLists.txt
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/VelMANN.h
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/VelMANNAutoregressive.h
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/VelMANNAutoregressiveInputBuilder.h
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/VelMANNTrajectoryGenerator.h
  bindings/python/ML/src/Module.cpp
  bindings/python/ML/src/VelMANN.cpp
  bindings/python/ML/src/VelMANNAutoregressive.cpp
  bindings/python/ML/src/VelMANNAutoregressiveInputBuilder.cpp
  bindings/python/ML/src/VelMANNTrajectoryGenerator.cpp
  examples/VelMANN/README.md
  examples/VelMANN/VelMANNAutoregressive.ipynb
  examples/VelMANN/VelMANNTrajectoryGenerator.ipynb
  examples/VelMANN/config/config_joypad.toml
  examples/VelMANN/config/config_mann.toml
  src/ML/CMakeLists.txt
  src/ML/include/BipedalLocomotion/ML/VelMANN.h
  src/ML/include/BipedalLocomotion/ML/VelMANNAutoregressive.h
  src/ML/include/BipedalLocomotion/ML/VelMANNAutoregressiveInputBuilder.h
  src/ML/include/BipedalLocomotion/ML/VelMANNTrajectoryGenerator.h
  src/ML/src/VelMANN.cpp
  src/ML/src/VelMANNAutoregressive.cpp
  src/ML/src/VelMANNAutoregressiveInputBuilder.cpp
  src/ML/src/VelMANNTrajectoryGenerator.cpp
  src/ML/tests/CMakeLists.txt
  src/ML/tests/FolderPath.h.in
  src/ML/tests/VelMANNTest.cpp
  src/ML/tests/VelMANNTrajectoryGeneratorTest.cpp
Labels: :hammer: component: ML, :school: Examples, :snake: bindings

balancing only with legs
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf-balancing-torque-control-options.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/contact_wrenches.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/data_logging.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/sensor_bridge.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/tsid.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/world/world.sdf
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

prepare config files for ergocubSN001
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf-balancing-torque-control-options.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/contact_wrenches.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/data_logging.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/sensor_bridge.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tsid.ini
Labels: :computer: utilities

update logger of ergoCubSN001
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/wrench_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
Labels: none

update tsid gains and joint regularization task setpoint
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tsid.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

chage tsid gains
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf-balancing-torque-control-options.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tsid.ini
Labels: :computer: utilities

Tune gains for balancing torque control
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tsid.ini
Labels: :computer: utilities

add initial position of fixed joints
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/robot_control.ini
Labels: :computer: utilities

log desired contact wrenches computed by TSID
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

clip tsid computed torques
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1_1/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

Change device jtcvc to use motor velocity and joint velocity in input to the PINN
  devices/JointTorqueControlDevice/CMakeLists.txt
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PINNFrictionEstimator.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
  devices/JointTorqueControlDevice/thrifts/JointTorqueControlCommands.thrift
Labels: none

Update README
  CHANGELOG.md
Labels: none

Update devices/JointTorqueControlDevice/thrifts/JointTorqueControlCommands.thrift
  devices/JointTorqueControlDevice/thrifts/JointTorqueControlCommands.thrift
Labels: none

Update devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
  devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
Labels: none

Change device jtcvc to use motor velocity and joint velocity in input to PINN models (#903)
  CHANGELOG.md
  devices/JointTorqueControlDevice/CMakeLists.txt
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PINNFrictionEstimator.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/JointTorqueControlDevice/src/PINNFrictionEstimator.cpp
  devices/JointTorqueControlDevice/thrifts/JointTorqueControlCommands.thrift
Labels: none

Add torso torque controlled. Remove torso task.
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf-balancing-torque-control-options.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/config/robots/ergoCubSN001/blf_balancing_torque_control/tsid.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

Fix loading of Python bindings on Windows when installed in arbitrary directory
  bindings/CMakeLists.txt
Labels: :snake: bindings

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix trailing whitespace
  bindings/CMakeLists.txt
Labels: :snake: bindings

Fix loading of Python bindings on Windows when installed in arbitrary directory (#905)
  CHANGELOG.md
  bindings/CMakeLists.txt
Labels: :snake: bindings

Set the minimum resolution for Windows clock
  src/System/include/BipedalLocomotion/System/StdClock.h
  src/System/src/StdClock.cpp
Labels: :hammer: component: System

Add the possibility to set the PRIVATE_WINDOWS_LINK_LIBRARIES in the libraries
  cmake/AddBipedalLocomotionLibrary.cmake
  src/System/CMakeLists.txt
Labels: :hammer: component: System

Update the changelog
  CHANGELOG.md
Labels: none

Set the system timer resolution to the minimum value for higher precision on Windows (#907)
  CHANGELOG.md
  cmake/AddBipedalLocomotionLibrary.cmake
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/StdClock.h
  src/System/src/StdClock.cpp
Labels: :hammer: component: System

Add velocity control files
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  utilities/joint-position-tracking/config/robots/ergoCubSN001/blf-joint-position-tracking-options.ini
  utilities/joint-position-tracking/src/Main.cpp
  utilities/joint-position-tracking/src/Module.cpp
Labels: :computer: utilities

Publish estimated friction torques as motor accelerations on YARP
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

Update CHANGELOG
  CHANGELOG.md
Labels: none

Add KF in JoinTorqueControlDevice to estimate joint and motor velocities.
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

Remove white spaces
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Remove streaming of kf joint and motor velocities
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Added possibility to avoid logging text
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Improved warning message when adding a channel without metadata in the logger
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added explicit log_text option in the logger configuration files
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
Labels: none

Create PassThroughControlBoardDevice
  devices/JointTorqueControlDevice/CMakeLists.txt
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PassThroughControlBoardDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/JointTorqueControlDevice/src/PassThroughControlBoardDevice.cpp
Labels: none

simplify passtrough (#1)
  devices/JointTorqueControlDevice/CMakeLists.txt
Labels: none

Update CMakeLists.txt
  devices/JointTorqueControlDevice/CMakeLists.txt
Labels: none

Run torque control loop only when at least one joint torque controlled
  devices/JointTorqueControlDevice/CMakeLists.txt
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PassThroughControlBoardDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/JointTorqueControlDevice/src/PassThroughControlBoardDevice.cpp
Labels: none

Start debugging
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/interface-robot-dynamics-estimator/all_joints_mc.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/interface-robot-dynamics-estimator/ft_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/interface-robot-dynamics-estimator/mas-remapper.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/launch-robot-dynamics-estimator.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/robot-dynamics-estimator-right-leg.xml
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*
