Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

Do not use FRAMEWORK_COMPILE_Math before it is defined
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

fixup
  .ci/blf_apt_deps_options.meta
Labels: none

Move apt-based CI to Ubuntu 24.04 and use colcon and vcstool
  .ci/blf_apt_deps.yaml
  .ci/blf_apt_deps_options.meta
  .github/workflows/apt-ci.yml
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action

Update apt-ci.yml
  .github/workflows/apt-ci.yml
Labels: :building_construction: GitHub action

Various fixes for Ubuntu 24.04 support
  .ci/blf_apt_deps_options.meta
  .github/workflows/apt-ci.yml
  cmake/AddBipedalLocomotionUnitTest.cmake
  cmake/valgrind-linux.supp
  src/TestUtils/tests/CMakeLists.txt
  src/TestUtils/tests/MemoryAllocationMonitorTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: TestUtils

Move apt-based CI to Ubuntu 24.04 and use colcon and vcstool
  .ci/blf_apt_deps.yaml
  .ci/blf_apt_deps_options.meta
  .github/workflows/apt-ci.yml
  .github/workflows/ci.yml
  cmake/AddBipedalLocomotionUnitTest.cmake
  cmake/valgrind-linux.supp
  src/TestUtils/tests/CMakeLists.txt
  src/TestUtils/tests/MemoryAllocationMonitorTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: TestUtils

Update apt-ci.yml
  .github/workflows/apt-ci.yml
Labels: :building_construction: GitHub action

Update blf_apt_deps_options.meta
  .ci/blf_apt_deps_options.meta
Labels: none

Pin cppad
  .ci/blf_apt_deps.yaml
Labels: none

Update valgrind-linux.supp
  cmake/valgrind-linux.supp
Labels: none

Update blf_apt_deps_options.meta
  .ci/blf_apt_deps_options.meta
Labels: none

Update apt-ci.yml
  .github/workflows/apt-ci.yml
Labels: :building_construction: GitHub action

Remove use of deprecated FrameGrabberInterfaces.h YARP header (#970)
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpCameraBridge.cpp
Labels: :hammer: component: RobotInterface

Do not use FRAMEWORK_COMPILE_Math before it is defined (#973)
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Define FRAMEWORK_COMPILE_ManifConversions before FRAMEWORK_COMPILE_RobotDynamicsEstimator
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Define FRAMEWORK_COMPILE_ManifConversions before FRAMEWORK_COMPILE_RobotDynamicsEstimator (#975)
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Move apt-based CI to Ubuntu 24.04 and use colcon and vcstool (#972)
  .ci/blf_apt_deps.yaml
  .ci/blf_apt_deps_options.meta
  .github/workflows/apt-ci.yml
  .github/workflows/ci.yml
  cmake/AddBipedalLocomotionUnitTest.cmake
  cmake/valgrind-linux.supp
  src/TestUtils/tests/CMakeLists.txt
  src/TestUtils/tests/MemoryAllocationMonitorTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: TestUtils

conda-ci: On Windows migrate to use VS2022
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Update gh-pages.yml job to use ubuntu-24.04 image instead of ubuntu-20.04
  .github/workflows/gh-pages.yml
Labels: :building_construction: GitHub action

Update gh-pages.yml job to use ubuntu-24.04 image instead of ubuntu-20.04 (#976)
  .github/workflows/gh-pages.yml
Labels: :building_construction: GitHub action

conda-ci: On Windows migrate to use VS2022 (#974)
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

🚀 Release 0.21.0
  CHANGELOG.md
  CMakeLists.txt
  docs/config.toml
  docs/pages/main-page.dox
Labels: :book: documentation

Update CMakeLists.txt CHANGELOG.md and main-page.dox after the release
  CHANGELOG.md
  CMakeLists.txt
  docs/pages/main-page.dox
Labels: :book: documentation

Deploying to gh-pages from @ a0a5e9056717622ee55ee4321d0ca48ba9de0c4d 🚀
  index.html
  xml/indexpage.xml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix bug when controlling prismatic or revolute joints in pwm, current, or torque mode
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Revert "Add possibility to control linear actuator (#964)"
  CHANGELOG.md
  src/RobotInterface/CMakeLists.txt
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

Update CHANGELOG
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Remove changelog-checker
  .github/workflows/changelog-checker.yml
Labels: :building_construction: GitHub action

Bump version to 0.21.1
  CMakeLists.txt
Labels: none

Remove changelog-checker (#980)
  .github/workflows/changelog-checker.yml
Labels: :building_construction: GitHub action

Update src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Update src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Rename lambda function
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Fix bug when controlling prismatic or revolute joints in pwm, current, or torque mode (#979)
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: :hammer: component: RobotInterface

Update version to 0.21.1
  CMakeLists.txt
  docs/config.toml
  docs/pages/main-page.dox
Labels: :book: documentation

🚀 Release 0.21.1 (#982)
  CMakeLists.txt
  docs/config.toml
  docs/pages/main-page.dox
Labels: :book: documentation

Update CMakeLists.txt and main-page.dox after the release
  CMakeLists.txt
  docs/pages/main-page.dox
Labels: :book: documentation

Deploying to gh-pages from @ 36fc886e6d8ec1b31bd5678f22d57cb6caf87471 🚀
  index.html
  xml/indexpage.xml
Labels: none

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*
