Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

Add TimeSeriesCollection client and server implementation with Thrift support
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/TimeSeriesCollectionClient.h
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/TimeSeriesCollectionServer.h
  src/YarpUtilities/src/TimeSeriesCollectionClient.cpp
  src/YarpUtilities/src/TimeSeriesCollectionServer.cpp
  src/YarpUtilities/thrifts/BipedalLocomotion/YarpUtilities/TimeSeriesCollection.thrift
Labels: :hammer: component: YarpUtilities

Add TimeSeriesCollection support to YarpRobotLoggerDevice and update related components
  devices/YarpRobotLoggerDevice/CMakeLists.txt
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/TimeSeriesCollectionClient.h
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/TimeSeriesCollectionServer.h
  src/YarpUtilities/src/TimeSeriesCollectionServer.cpp
  src/YarpUtilities/thrifts/BipedalLocomotion/YarpUtilities/TimeSeriesCollection.thrift
Labels: :hammer: component: YarpUtilities

add code to ensure that QPInverseKinematicsTest fails in a reproducible way
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK

Use fixed seed for QP-IK Distance and Gravity test
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK

Remove unused types.h include and fix compilation with osqp 1.0.0
  src/IK/src/JointLimitsTask.cpp
  src/IK/src/JointVelocityLimitsTask.cpp
Labels: :hammer: component: IK

Remove unused types.h include and fix compilation with osqp 1.0.0 (#983)
  src/IK/src/JointLimitsTask.cpp
  src/IK/src/JointVelocityLimitsTask.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK

Do not disable IK in conda-forge Linux and macOS CI
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Set seed for all relevant test in QPInverseKinematicsTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK

Do not disable IK in conda-forge Linux and macOS CI and set seed for all tests that use iDynTree test helpers (#986)
  .github/workflows/conda-forge-ci.yml
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: IK

Add joint acceleration retrieval methods to YarpSensorBridge python bindings
  bindings/python/RobotInterface/src/SensorBridge.cpp
Labels: :snake: bindings

Add joint acceleration retrieval methods to YarpSensorBridge python bindings (#987)
  bindings/python/RobotInterface/src/SensorBridge.cpp
Labels: :snake: bindings

Update YarpRobotLoggerDevice to use absolute clock for periodic threads
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Update YarpRobotLoggerDevice to use absolute clock for periodic threads (#988)
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added comment regarding optional joint list in logger parameters
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
Labels: none

Removed spurious group tag in iCubGenova09 logger
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
Labels: none

Removed unused parameter from logger configuration file
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/tests/yarp-robot-logger.xml
Labels: none

Added possibility to avoid logging code status
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/tests/yarp-robot-logger.xml
Labels: none

Refactored startup phases of the logger simplifying the attachAll method
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added possibility for the log to start even if there are no devices to attach
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added some info prints in the logger
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added possibility to not log data from the robot
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Moved lambda to method in logger
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added option to disable camera logging
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/tests/yarp-robot-logger.xml
Labels: none

Added code to log transforms in logger device
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

🚀 Release 0.22.0
  CMakeLists.txt
  docs/pages/main-page.dox
Labels: :book: documentation

🚀 Release 0.22.0 (#990)
  CMakeLists.txt
  docs/pages/main-page.dox
Labels: :book: documentation

Deploying to gh-pages from @ 09bcd4f6f29cb585dc6c12028bfbe7c42dd3f8cb 🚀
  index.html
  xml/indexpage.xml
Labels: none

Update CMakeLists.txt and main-page.dox after the release
  CMakeLists.txt
  docs/pages/main-page.dox
Labels: :book: documentation

- Implement PositionToCurrentControl class and the associated python bindings - fix CreateAdvanceable template machinery for the python bindings
  bindings/python/RobotInterface/CMakeLists.txt
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/IRobotControl.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/ISensorBridge.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/PositionToCurrentController.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/YarpModule.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/YarpRobotControl.h
  bindings/python/RobotInterface/include/BipedalLocomotion/bindings/RobotInterface/YarpSensorBridge.h
  bindings/python/RobotInterface/src/IRobotControl.cpp
  bindings/python/RobotInterface/src/ISensorBridge.cpp
  bindings/python/RobotInterface/src/Module.cpp
  bindings/python/RobotInterface/src/PositionToCurrentController.cpp
  bindings/python/RobotInterface/src/YarpModule.cpp
  bindings/python/RobotInterface/src/YarpRobotControl.cpp
  bindings/python/RobotInterface/src/YarpSensorBridge.cpp
  bindings/python/System/include/BipedalLocomotion/bindings/System/Advanceable.h
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/RobotInterface/CMakeLists.txt
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/PositionToCurrentController.h
  src/RobotInterface/src/PositionToCurrentController.cpp
Labels: :hammer: component: RobotInterface, :snake: bindings

Enhance PositionToCurrentController documentation
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/PositionToCurrentController.h
Labels: :hammer: component: RobotInterface

Remove whitespaces
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/PositionToCurrentController.h
Labels: :hammer: component: RobotInterface

Move PositionToCurrentController to JointLevelControllers
  bindings/python/CMakeLists.txt
  bindings/python/JointLevelControllers/CMakeLists.txt
  bindings/python/JointLevelControllers/include/BipedalLocomotion/bindings/JointLevelControllers/Module.h
  bindings/python/JointLevelControllers/include/BipedalLocomotion/bindings/JointLevelControllers/PositionToCurrentController.h
  bindings/python/JointLevelControllers/src/Module.cpp
  bindings/python/JointLevelControllers/src/PositionToCurrentController.cpp
  bindings/python/RobotInterface/CMakeLists.txt
  bindings/python/RobotInterface/src/Module.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/CMakeLists.txt
  src/JointLevelControllers/CMakeLists.txt
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/PositionToCurrentController.h
  src/JointLevelControllers/src/PositionToCurrentController.cpp
  src/JointLevelControllers/tests/CMakeLists.txt
  src/RobotInterface/CMakeLists.txt
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/PositionToCurrentController.h
Labels: :hammer: component: RobotInterface, :snake: bindings

Remove whitespaces
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Add PositionToCurrent test and fix bug
  src/JointLevelControllers/src/PositionToCurrentController.cpp
  src/JointLevelControllers/tests/CMakeLists.txt
  src/JointLevelControllers/tests/PositionToCurrentControllerTest.cpp
Labels: none

Improve LaTeX formatting in PositionToCurrentController documentation
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/PositionToCurrentController.h
Labels: none

conda-forge-ci: Update setup-miniconda to v3
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Enhance PositionToCurrentController: add activation velocity and torque-to-current factor, optimize output calculation
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/PositionToCurrentController.h
  src/JointLevelControllers/src/PositionToCurrentController.cpp
Labels: none

Update PositionToCurrentController tests: implement tanh-based friction compensation, add activation velocity handling
  src/JointLevelControllers/tests/PositionToCurrentControllerTest.cpp
Labels: none

FIx documentation
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/PositionToCurrentController.h
Labels: none

Fix formatting in PositionToCurrentController documentation
  src/JointLevelControllers/include/BipedalLocomotion/JointLevelControllers/PositionToCurrentController.h
Labels: none
