Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Explicit tell cmake to use conda's Python in conda-forge Windows CI
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

...
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/robot-dynamics-estimator-right-leg.xml
  src/Estimators/src/UkfState.cpp
Labels: :hammer: component: Estimators

Start debugging
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/interface-robot-dynamics-estimator/all_joints_mc.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/interface-robot-dynamics-estimator/ft_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/interface-robot-dynamics-estimator/mas-remapper.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/launch-robot-dynamics-estimator.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/robot-dynamics-estimator-right-leg.xml
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

...
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1_1/robot-dynamics-estimator-right-leg.xml
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Update conda-forge-ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Going on fixing RDE estimator
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/all_joints_mc.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/ft_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/imu_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/mas-remapper.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/launch-robot-dynamics-estimator.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/robot-dynamics-estimator-right-leg.xml
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Fix RDE device code based on the new library implementation
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/imu_clients.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/interface-robot-dynamics-estimator/mas-remapper.xml
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubSN001/robot-dynamics-estimator-right-leg.xml
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/wrench_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
Labels: :hammer: component: Estimators, :snake: bindings

Remove white spaces
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
Labels: :hammer: component: Estimators

Update CHANGELOG
  CHANGELOG.md
Labels: none

Restore to master logger config files
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/wrench_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
Labels: none

Add missing `ContinuousDynamicalSystem` row to `Exported components` in the README and documentation (#919)
  CHANGELOG.md
  README.md
  docs/pages/main-page.dox
Labels: :book: documentation

Remove not used test, fix compilation errors.
  devices/JointTorqueControlDevice/include/BipedalLocomotion/JointTorqueControlDevice.h
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
Labels: :hammer: component: Estimators

Fix tests RobotDynamicsEstimator library
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

made 'VariableFeasibleRegionTask' independent from the size of the controlled elements
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

added bipedal test to the file 'tests/CMakeLists.txt'
  src/TSID/tests/CMakeLists.txt
Labels: :hammer: component: TSID

created the file 'VariableFeasibleRegionTaskTest.cpp'
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

added tests for 'VariableFeasibleRegionTask' (all passed).
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

Update CHANGELOG
  CHANGELOG.md
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
Labels: :hammer: component: Estimators

added m_isValid = 'true' in 'setFeasibleRegion()' + minor changes
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

Updated CHANGELOG
  CHANGELOG.md
Labels: none

Added possibility to avoid logging text
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added explicit log_text option in the logger configuration files
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
Labels: none

Improved warning message when adding a channel without metadata in the logger
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Removed useless "s"s when printing time in logger
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Improved the time diagnostic of recordVideo in the logger device
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Added prints on the current saving stage in the logger device
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Remvoed ROS1 device publisher and example device
  CHANGELOG.md
  CMakeLists.txt
  cmake/AddBipedalLocomotionYARPDevice.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/CMakeLists.txt
  devices/examples/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/README.md
  devices/examples/ROSPublisherTestDevice/app/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/launch-ros-publisher-test.xml
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/publisher/ros-publisher.xml
  devices/examples/ROSPublisherTestDevice/include/BipedalLocomotion/ROSPublisherTestDevice.h
  devices/examples/ROSPublisherTestDevice/ros-publisher-test-runner.xml
  devices/examples/ROSPublisherTestDevice/src/ROSPublisherTestDevice.cpp
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
  src/YarpUtilities/src/RosPublisher.cpp
Labels: :hammer: component: YarpUtilities

Avoid using iCubGazeboV3 in baseEstimatorFromFootIMU
  CHANGELOG.md
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
Labels: :hammer: component: Estimators

Fixed generation of bindings in Windows
  bindings/CMakeLists.txt
  bindings/python/CMakeLists.txt
Labels: :snake: bindings

Fix type in rmdir command
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Bump yarp version on CI
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action

Remove all the Python interpreter installd by GitHub Actions on Windows
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Fixed YarpRobotLoggerDeviceTest
  devices/YarpRobotLoggerDevice/tests/launch-yarp-robot-logger.xml
Labels: none

Explicit tell cmake to use conda's Python in conda-forge Windows CI
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Explicit the dependency between Math and System
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Attempt to fix BaseEstimatorFromFootIMU test
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
Labels: :hammer: component: Estimators

created binding files (.h and .cpp)
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/VariableFeasibleRegionTask.h
  bindings/python/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID, :snake: bindings

modified 'Module.cpp' and 'CHANGELOG.md'. Formatted with clang.
  CHANGELOG.md
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/VariableFeasibleRegionTask.h
  bindings/python/TSID/src/Module.cpp
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID, :snake: bindings
