Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

Update src/Contacts/src/FixedFootDetector.cpp
  src/Contacts/src/FixedFootDetector.cpp
Labels: :hammer: component: Contacts

Add member function to return current time of fixed foot detector (#928)
  CHANGELOG.md
  src/Contacts/include/BipedalLocomotion/ContactDetectors/FixedFootDetector.h
  src/Contacts/src/FixedFootDetector.cpp
Labels: :hammer: component: Contacts

change member function to set both feet transform
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners

Enable the setting of the measured feet transform for the Unicycle Trajectory Generator (#927)
  CHANGELOG.md
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners

Do not call find_package(<pkg>) if FRAMEWORK_USE_<pkg> is defined
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/BipedalLocomotionFrameworkFindDependencies.cmake
Labels: none

enable pose estimation for aruco boards
  src/Perception/include/BipedalLocomotion/Perception/Features/ArucoDetector.h
  src/Perception/src/ArucoDetector.cpp
  src/Perception/tests/Perception/Features/ArucoDetectorTest.cpp
Labels: :hammer: component: Perception

updated unit test
  src/Perception/tests/Perception/Features/ArucoDetectorTest.cpp
Labels: :hammer: component: Perception

Add the possibility to easily disable/enable the rt logging in YarpRobotLoggerDevice
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix test of the yarprobotloggerdivice
  devices/YarpRobotLoggerDevice/tests/yarp-robot-logger.xml
Labels: none

Add the possibility to easily disable/enable the rt logging in YarpRobotLoggerDevice (#932)
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/tests/yarp-robot-logger.xml
Labels: none

Do not call find_package(<pkg>) if FRAMEWORK_USE_<pkg> is defined (#930)
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/BipedalLocomotionFrameworkFindDependencies.cmake
Labels: none

add parameter is_board
  src/Perception/include/BipedalLocomotion/Perception/Features/ArucoDetector.h
  src/Perception/src/ArucoDetector.cpp
  src/Perception/tests/Perception/Features/ArucoDetectorTest.cpp
Labels: :hammer: component: Perception

use optional params
  src/Perception/src/ArucoDetector.cpp
Labels: :hammer: component: Perception

Rename FloatingBaseSystemKinematics to FloatingBaseSystemVelocityKinematics and update related references
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemVelocityKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/ContinuousDynamicalSystem/tests/test_floating_base_system_kinematics.py
  examples/InverseKinematics/inverse_kinematics.ipynb
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemVelocityKinematics.cpp
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemKinematics.cpp
  src/IK/include/BipedalLocomotion/IK/IntegrationBasedIK.h
  src/IK/include/BipedalLocomotion/IK/QPFixedBaseInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/tests/QPFixedBaseInverseKinematicsTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :school: Examples, :snake: bindings

Add FloatingBaseSystemAccelerationKinematics class and update CMakeLists.txt
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemAccelerationKinematics.h
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemAccelerationKinematics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

register VariableRegularizationTask type
  src/TSID/include/BipedalLocomotion/TSID/VariableRegularizationTask.h
Labels: :hammer: component: TSID

update changelog
  CHANGELOG.md
Labels: none

Enable Programmatic Creation of VariableRegularizationTask (#934)
  CHANGELOG.md
  src/TSID/include/BipedalLocomotion/TSID/VariableRegularizationTask.h
Labels: :hammer: component: TSID

Fixed some prints of the logger device
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Fixed some prints of the logger device (#935)
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: none

Fix iDynTree warnings
  bindings/python/ML/src/VelMANNAutoregressive.cpp
  bindings/python/ML/src/VelMANNTrajectoryGenerator.cpp
  devices/FloatingBaseEstimatorDevice/include/BipedalLocomotion/FloatingBaseEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  src/Estimators/CMakeLists.txt
  src/Estimators/tests/FloatingBaseEstimators/CMakeLists.txt
  src/ML/src/VelMANNAutoregressive.cpp
  src/ML/src/VelMANNTrajectoryGenerator.cpp
  src/ML/tests/VelMANNTrajectoryGeneratorTest.cpp
Labels: :hammer: component: Estimators, :hammer: component: ML, :snake: bindings

Fix iDynTree warnings (#936)
  bindings/python/ML/src/VelMANNAutoregressive.cpp
  bindings/python/ML/src/VelMANNTrajectoryGenerator.cpp
  devices/FloatingBaseEstimatorDevice/include/BipedalLocomotion/FloatingBaseEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  src/Estimators/CMakeLists.txt
  src/Estimators/tests/FloatingBaseEstimators/CMakeLists.txt
  src/ML/src/VelMANNAutoregressive.cpp
  src/ML/src/VelMANNTrajectoryGenerator.cpp
  src/ML/tests/VelMANNTrajectoryGeneratorTest.cpp
Labels: :hammer: component: Estimators, :hammer: component: ML, :snake: bindings

Add option FRAMEWORK_COMPILE_MotorCurrentTrackingApplication in cmake file
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add option FRAMEWORK_COMPILE_MotorCurrentTrackingApplication in cmake file (#937)
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Fix tests for RobotDynamicsEstimator library
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
Labels: :hammer: component: Estimators

Fix initialization of UKF. Use the correct base link attached to the base imu.
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Fix CMakeLists in tests of RobotDynamicsEstimator
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
Labels: :hammer: component: Estimators

Fix include
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
Labels: :hammer: component: Estimators

Do not run cmake-package-check on Windows under bash
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Fix missing os checks
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Do not run cmake-package-check on Windows under bash (#941)
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

Fix formatting of isSetPointSetAtLeastOnce variable in JointTrackingTask header
  src/IK/include/BipedalLocomotion/IK/JointTrackingTask.h
Labels: :hammer: component: IK

Add isSetPointSetAtLeastOnce flag to task classes and update validation logic in the IK
  src/IK/include/BipedalLocomotion/IK/AngularMomentumTask.h
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/include/BipedalLocomotion/IK/DistanceTask.h
  src/IK/include/BipedalLocomotion/IK/GravityTask.h
  src/IK/include/BipedalLocomotion/IK/JointTrackingTask.h
  src/IK/include/BipedalLocomotion/IK/R3Task.h
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/include/BipedalLocomotion/IK/SO3Task.h
  src/IK/src/AngularMomentumTask.cpp
  src/IK/src/CoMTask.cpp
  src/IK/src/DistanceTask.cpp
  src/IK/src/GravityTask.cpp
  src/IK/src/JointTrackingTask.cpp
  src/IK/src/R3Task.cpp
  src/IK/src/SE3Task.cpp
  src/IK/src/SO3Task.cpp
  src/IK/tests/AngularMomentumTaskTest.cpp
  src/IK/tests/CoMTaskTest.cpp
  src/IK/tests/DistanceTaskTest.cpp
  src/IK/tests/GravityTaskTest.cpp
  src/IK/tests/R3TaskTest.cpp
  src/IK/tests/SE3TaskTest.cpp
  src/IK/tests/SO3TaskTest.cpp
Labels: :hammer: component: IK

Add isSetPointSetAtLeastOnce flag to task classes for set-point validation
  src/TSID/include/BipedalLocomotion/TSID/AngularMomentumTask.h
  src/TSID/include/BipedalLocomotion/TSID/CoMTask.h
  src/TSID/include/BipedalLocomotion/TSID/JointTrackingTask.h
  src/TSID/include/BipedalLocomotion/TSID/R3Task.h
  src/TSID/include/BipedalLocomotion/TSID/SE3Task.h
  src/TSID/include/BipedalLocomotion/TSID/SO3Task.h
  src/TSID/include/BipedalLocomotion/TSID/VariableRegularizationTask.h
  src/TSID/src/AngularMomentumTask.cpp
  src/TSID/src/CoMTask.cpp
  src/TSID/src/JointTrackingTask.cpp
  src/TSID/src/R3Task.cpp
  src/TSID/src/SE3Task.cpp
  src/TSID/src/SO3Task.cpp
  src/TSID/src/VariableRegularizationTask.cpp
Labels: :hammer: component: TSID

Add initial update checks in task test cases
  src/TSID/tests/AngularMomentumTaskTest.cpp
  src/TSID/tests/CoMTaskTest.cpp
  src/TSID/tests/JointTrackingTaskTest.cpp
  src/TSID/tests/R3TaskTest.cpp
  src/TSID/tests/SE3TaskTest.cpp
  src/TSID/tests/SO3TaskTest.cpp
  src/TSID/tests/VariableRegularizationTaskTest.cpp
Labels: :hammer: component: TSID

Refactor GravityTask: remove redundant methods and update tests to use setSetPoint
  bindings/python/IK/src/GravityTask.cpp
  src/IK/include/BipedalLocomotion/IK/GravityTask.h
  src/IK/src/GravityTask.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK, :snake: bindings

Deprecate setDesiredGravityDirectionInTargetFrame and setFeedForwardVelocityInTargetFrame methods; update implementation to set isSetPointSetAtLeastOnce flag
  src/IK/include/BipedalLocomotion/IK/GravityTask.h
  src/IK/src/GravityTask.cpp
Labels: :hammer: component: IK

Update the gravity task python test to avoid using deprecated functions
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
Labels: :snake: bindings
