Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

Remove debug output from IntegratorFloatingBaseSystemAccelerationKinematics test
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemAccelerationKinematics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

Bugfix in FloatingBaseSystemAccelerationKinematics
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemAccelerationKinematics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

Refactor documentation in FloatingBaseSystemVelocityKinematics.h for clarity and consistency
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
Labels: :hammer: component: ContinuousDynamicalSystem

Fix bug in JointTorqueControl device
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

Fix resize vector in `JointTorqueControlDevice` (#951)
  CHANGELOG.md
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Add FloatingBaseSystemAccelerationKinematics bindings
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/FloatingBaseSystemAccelerationKinematics.h
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemAccelerationKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
Labels: :snake: bindings

Implement FloatingBaseSystemAccelerationKinematics in ContinuousDynamicalSystem component (#950)
  CHANGELOG.md
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/FloatingBaseSystemAccelerationKinematics.h
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemAccelerationKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemVelocityKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/ContinuousDynamicalSystem/tests/test_floating_base_system_kinematics.py
  examples/InverseKinematics/inverse_kinematics.ipynb
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemAccelerationKinematics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemVelocityKinematics.h
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemAccelerationKinematics.cpp
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemVelocityKinematics.cpp
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemAccelerationKinematics.cpp
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemVelocityKinematics.cpp
  src/IK/include/BipedalLocomotion/IK/IntegrationBasedIK.h
  src/IK/include/BipedalLocomotion/IK/QPFixedBaseInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/tests/QPFixedBaseInverseKinematicsTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :school: Examples, :snake: bindings

Fix tests for RobotDynamicsEstimator
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1/robot-dynamics-estimator.xml
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Update CHANGELOG
  CHANGELOG.md
Labels: none

Add IJointFault yarp dev in PassThroughControlBoard to handle HardwareFault
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PassThroughControlBoard.h
  devices/JointTorqueControlDevice/src/PassThroughControlBoard.cpp
Labels: none

Update CHANGELOG
  CHANGELOG.md
Labels: none

Add IJointFault yarp dev in PassThroughControlBoard to handle HardwareFault (#954)
  CHANGELOG.md
  devices/JointTorqueControlDevice/include/BipedalLocomotion/PassThroughControlBoard.h
  devices/JointTorqueControlDevice/src/PassThroughControlBoard.cpp
Labels: none

Bump tiny-process-lib version to fix CMake 4.0.0 failure
  devices/YarpRobotLoggerDevice/CMakeLists.txt
Labels: none

Bump cvnp version to fix usage with CMake 4 and numpy 2
  bindings/python/RobotInterface/CMakeLists.txt
Labels: :snake: bindings

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update version of tiny-process-lib and cvnp to fix usage with CMake 4 and numpy 2 (#955)
  CHANGELOG.md
  bindings/python/RobotInterface/CMakeLists.txt
  devices/YarpRobotLoggerDevice/CMakeLists.txt
Labels: :snake: bindings

Support compilation with casadi >= 3.7.0
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Conversions/CMakeLists.txt
  src/Planners/CMakeLists.txt
  src/ReducedModelControllers/CMakeLists.txt
Labels: :hammer: component: Conversions, :hammer: component: Planners, :hammer: component: ReducedModelControllers

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update BipedalLocomotionFrameworkDependencies.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: none

Bump CMake minimum required to 3.22.0
  CMakeLists.txt
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Only raise minimum cmake required to 3.18
  CHANGELOG.md
  CMakeLists.txt
Labels: none

Support compilation with casadi >= 3.7.0 (#956)
  CHANGELOG.md
  CMakeLists.txt
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Conversions/CMakeLists.txt
  src/Planners/CMakeLists.txt
  src/ReducedModelControllers/CMakeLists.txt
Labels: :hammer: component: Conversions, :hammer: component: Planners, :hammer: component: ReducedModelControllers

Fix Ubuntu 20.04 CI job
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action

Fix Ubuntu 20.04 CI job (#957)
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action

Fix tests for RobotDynamicsEstimator
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1/robot-dynamics-estimator.xml
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Update CHANGELOG
  CHANGELOG.md
  src/Estimators/src/UkfModel.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Refactored RobotDynamicsEstimator to improve maintainability and functionality (#953)
  CHANGELOG.md
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1/robot-dynamics-estimator.xml
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Modify python bindings
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
Labels: :snake: bindings

Remove unused inputs
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
Labels: :hammer: component: Estimators

Remove unused inputs in tests
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
Labels: :hammer: component: Estimators

Fix RobotDynamicsEstimatorDevice
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
Labels: none

Fix config files of tests
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

Add param in AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
Labels: :hammer: component: Estimators

Fix logic in UKFMeasurement
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/src/UkfMeasurement.cpp
Labels: :hammer: component: Estimators

Change logic in RDE and code refactor
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/KinDynWrapper.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
Labels: :hammer: component: Estimators

Update CHANGELOG
  CHANGELOG.md
Labels: none

use resource finder to load friction models
  devices/JointTorqueControlDevice/src/JointTorqueControlDevice.cpp
Labels: none

Update changelog
  CHANGELOG.md
Labels: none
