Repository ami-iit/bipedal-locomotion-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: :book: documentation, :building_construction: GitHub action, :computer: utilities, :hammer: component: AutoDiff, :hammer: component: ContactModels, :hammer: component: Contacts, :hammer: component: ContinuousDynamicalSystem, :hammer: component: Conversions, :hammer: component: Estimators, :hammer: component: GenericContainer, :hammer: component: IK, :hammer: component: ML, :hammer: component: Math, :hammer: component: ParametersHandler, :hammer: component: Perception, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: RobotInterface, :hammer: component: SimplifiedModelControllers, :hammer: component: System, :hammer: component: TSID, :hammer: component: TestUtils, :hammer: component: TextLogging, :hammer: component: YarpUtilities, :school: Examples, :snake: bindings

.github/labeler.yml:

':book: documentation': docs/**/*
':building_construction: GitHub action': .github/**/*
':computer: utilities': utilities/**/*
':hammer: component: AutoDiff': src/AutoDiff/**/*
':hammer: component: ContactModels': src/ContactModels/**/*
':hammer: component: Contacts': src/Contacts/**/*
':hammer: component: ContinuousDynamicalSystem': src/ContinuousDynamicalSystem/**/*
':hammer: component: Conversions': src/Conversions/**/*
':hammer: component: Estimators': src/Estimators/**/*
':hammer: component: GenericContainer': src/GenericContainer/**/*
':hammer: component: IK': src/IK/**/*
':hammer: component: ML': src/ML/**/*
':hammer: component: Math': src/Math/**/*
':hammer: component: ParametersHandler': src/ParametersHandler/**/*
':hammer: component: Perception': src/Perception/**/*
':hammer: component: Planners': src/Planners/**/*
':hammer: component: ReducedModelControllers': src/ReducedModelControllers/**/*
':hammer: component: RobotInterface': src/RobotInterface/**/*
':hammer: component: SimplifiedModelControllers': src/SimplifiedModelControllers/**/*
':hammer: component: System': src/System/**/*
':hammer: component: TSID': src/TSID/**/*
':hammer: component: TestUtils': src/TestUtils/**/*
':hammer: component: TextLogging': src/TextLogging/**/*
':hammer: component: YarpUtilities': src/YarpUtilities/**/*
':school: Examples': examples/**/*
':snake: bindings': bindings/**/*

formatted the file 'VariableFeasibleRegionTaskTest.cpp'
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

added #include in 'Module.cpp'
  bindings/python/TSID/src/Module.cpp
Labels: :snake: bindings

Some improvements on the YarpRobotLoggerDevice and removed ROS1 device (#910)
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  CMakeLists.txt
  bindings/CMakeLists.txt
  bindings/python/CMakeLists.txt
  cmake/AddBipedalLocomotionYARPDevice.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/CMakeLists.txt
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/tests/launch-yarp-robot-logger.xml
  devices/examples/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/README.md
  devices/examples/ROSPublisherTestDevice/app/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/launch-ros-publisher-test.xml
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/publisher/ros-publisher.xml
  devices/examples/ROSPublisherTestDevice/include/BipedalLocomotion/ROSPublisherTestDevice.h
  devices/examples/ROSPublisherTestDevice/ros-publisher-test-runner.xml
  devices/examples/ROSPublisherTestDevice/src/ROSPublisherTestDevice.cpp
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
  src/YarpUtilities/src/RosPublisher.cpp
Labels: :building_construction: GitHub action, :hammer: component: Estimators, :hammer: component: YarpUtilities, :snake: bindings

Fix tests
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/config.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

renamed the task from 'SPUTorqueLimitTask' to 'TorqueFeasibleRegionTask'
  src/TSID/include/BipedalLocomotion/TSID/TorqueFeasibleRegionTask.h
  src/TSID/src/SPUTorqueLimitTask.cpp
  src/TSID/src/TorqueFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

added 'VariableLinearTask.h and VariableLinearTask.cpp'
  src/TSID/include/BipedalLocomotion/TSID/VariableLinearTask.h
  src/TSID/src/VariableLinearTask.cpp
Labels: :hammer: component: TSID

renamed the task from 'TorqueFeasibleRegionTask' to 'VariableFeasibleRegionTask'
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

changed the task name from VariableLinearTask to SPUTorqueLimitTask
  src/TSID/include/BipedalLocomotion/TSID/SPUTorqueLimitTask.h
  src/TSID/src/SPUTorqueLimitTask.cpp
Labels: :hammer: component: TSID

made 'VariableFeasibleRegionTask' independent from the size of the controlled elements
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

minor changes
  src/TSID/include/BipedalLocomotion/TSID/TorqueFeasibleRegionTask.h
  src/TSID/src/TorqueFeasibleRegionTask.cpp
Labels: :hammer: component: TSID

added bipedal test to the file 'tests/CMakeLists.txt'
  src/TSID/tests/CMakeLists.txt
Labels: :hammer: component: TSID

added #include in 'Module.cpp'
  bindings/python/TSID/src/Module.cpp
Labels: :snake: bindings

formatted the file 'VariableFeasibleRegionTaskTest.cpp'
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

created binding files (.h and .cpp)
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/VariableFeasibleRegionTask.h
  bindings/python/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID, :snake: bindings

added m_isValid = 'true' in 'setFeasibleRegion()' + minor changes
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

created the file 'VariableFeasibleRegionTaskTest.cpp'
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

modified 'Module.cpp' and 'CHANGELOG.md'. Formatted with clang.
  CHANGELOG.md
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/VariableFeasibleRegionTask.h
  bindings/python/TSID/src/Module.cpp
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID, :snake: bindings

added tests for 'VariableFeasibleRegionTask' (all passed).
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

minor changes
  bindings/python/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
Labels: :hammer: component: TSID, :snake: bindings

Apply suggestions from code review
  examples/UnicycleTrajectoryGenerator/main.cpp
Labels: :school: Examples

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

modified the 'CMakeLists.txt' in 'bindigs/python/TSID'
  bindings/python/TSID/CMakeLists.txt
Labels: :snake: bindings

fixed the computation of 'm_S' when 'm_controlledElements.size() == 0'
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID

added tests in 'test_TSID.py'
  bindings/python/TSID/tests/test_TSID.py
Labels: :snake: bindings

fixed and extended tests in 'test_TSID.py'
  bindings/python/TSID/tests/test_TSID.py
Labels: :snake: bindings

added test in 'test_TSID.py'
  bindings/python/TSID/tests/test_TSID.py
Labels: :snake: bindings

Add zmp generator and populate all outputs of the unycycle trajectory generator (#916)
  CHANGELOG.md
  examples/UnicycleTrajectoryGenerator/main.cpp
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
  src/Planners/src/UnicycleUtilities.cpp
Labels: :hammer: component: Planners, :school: Examples

Implement VariableFeasibleRegion task in TSID component(#922)
  CHANGELOG.md
  bindings/python/TSID/CMakeLists.txt
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/VariableFeasibleRegionTask.h
  bindings/python/TSID/src/Module.cpp
  bindings/python/TSID/src/VariableFeasibleRegionTask.cpp
  bindings/python/TSID/tests/test_TSID.py
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID, :snake: bindings

Fix bug in tsid balancing torque control
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

Update changelog
  CHANGELOG.md
Labels: none

Update utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/base_dynamics.ini
Labels: :computer: utilities

Update utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/joint_dynamics.ini
Labels: :computer: utilities

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix typos in tsid balancing torque control config files (#926)
  CHANGELOG.md
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

Add member function to set the measured transform
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners

update changelog
  CHANGELOG.md
Labels: none

add member function to return current time of fixed foot detector
  src/Contacts/include/BipedalLocomotion/ContactDetectors/FixedFootDetector.h
  src/Contacts/src/FixedFootDetector.cpp
Labels: :hammer: component: Contacts

update changelog
  CHANGELOG.md
Labels: none

Remove redundant comments
  src/Contacts/src/FixedFootDetector.cpp
Labels: :hammer: component: Contacts

Update src/Contacts/include/BipedalLocomotion/ContactDetectors/FixedFootDetector.h
  src/Contacts/include/BipedalLocomotion/ContactDetectors/FixedFootDetector.h
Labels: :hammer: component: Contacts
