Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-07, with the labels that each got.

#354 conda CI: Use CasADi>=3.5.5 to avoid that an old CasADi without ipopt is picked by the conda solver
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]

#355 Use manif provided by conda-forge in CondaForge CI
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]

#356 Add the possibility to control a subset of coordinates in `IK::SE3Task`
  CHANGELOG.md
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/src/SE3Task.cpp
  src/IK/tests/SE3TaskTest.cpp
Labels: enhancement

#365 Rename macOS-latest in macos-latest in GitHub CI
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]

#357 Add the possibility to control a subset of coordinates in `IK::CoMTask`
  CHANGELOG.md
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/src/CoMTask.cpp
  src/IK/tests/CoMTaskTest.cpp
Labels: enhancement

#371 Fix YarpRobotControl when PWM or Torque control is used
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
Labels: [disable changelog ci], bugfix

#374 Update vcpkg_robotology_TAG in CI.yml
  .github/workflows/ci.yml
Labels: [disable changelog ci]

#383 Add PCL and OpenCV to conda dependencies in conda-based CI
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]
