Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-02, with the labels that each got.

#179 General refactoring of polydriver construction in RobotInterface
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpHelper.h
  src/RobotInterface/YarpImplementation/src/YarpHelper.cpp
  utilities/joint-position-tracking/include/BipedalLocomotion/JointPositionTracking/Module.h
  utilities/joint-position-tracking/src/Module.cpp
  utilities/joint-trajectory-player/include/BipedalLocomotion/JointTrajectoryPlayer/Module.h
  utilities/joint-trajectory-player/src/Module.cpp
Labels: [disable changelog ci]

#180 Implement BipedalLocomotion::RobotInterface::constructGenericSensorClient() function
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpHelper.h
  src/RobotInterface/YarpImplementation/src/YarpHelper.cpp
Labels: [disable changelog ci]

#183 Remove Useless double initialization of the robotControl interface in joint-trajectory-player
  utilities/joint-trajectory-player/src/Module.cpp
Labels: [disable changelog ci], bugfix

#182 [RobotInterface] Fix MAS sensors in YarpSensorBridge and remove cameras from SensorBridge
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
  src/RobotInterface/tests/DummyImplementation/DummySensorBridge.h
Labels: [disable changelog ci], bugfix

#184 Fix documentation in JointsDynamicsTask.h
  src/TSID/include/BipedalLocomotion/TSID/JointsDynamicsTask.h
Labels: [disable changelog ci], documentation

#190 CI: Refresh dependencies versions
  .github/workflows/ci.yml
Labels: [disable changelog ci]

#191 [YarpSensorBridge] fix check for NaN
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: [disable changelog ci]

#193 Update README.md
  README.md
Labels: [disable changelog ci]

#198 Improve the README
  README.md
Labels: [disable changelog ci]

#173 General update of the GitHub CI
  .github/workflows/ci.yml
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/Findpytest.cmake
  cmake/valgrind-linux.supp
Labels: [disable changelog ci]

#200 Implement IRobotControl python bindings
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/RobotInterface.cpp
  bindings/python/bipedal_locomotion_framework.cpp
  bindings/python/bipedal_locomotion_framework.h
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: enhancement

#207 LeggedOdometry: add changeFixedFrame overload with frame pose
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/LeggedOdometry.h
  src/Estimators/src/LeggedOdometry.cpp
Labels: [disable changelog ci]
