Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-04, with the labels that each got.

#268 Add Find Trailing Whitespace GitHub action
  .github/workflows/ci.yml
  bindings/python/all.py
  cmake/AddBipedalLocomotionYARPDevice.cmake
  devices/FloatingBaseEstimatorDevice/scope/sim/base_pose_scope.xml
  devices/FloatingBaseEstimatorDevice/scope/sim/base_velocity_scope.xml
  devices/FloatingBaseEstimatorDevice/scope/sim/contact_normal_scope.xml
  devices/FloatingBaseEstimatorDevice/scope/sim/waist_imu.xml
  devices/examples/ROSPublisherTestDevice/README.md
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/publisher/ros-publisher.xml
  devices/examples/ROSPublisherTestDevice/include/BipedalLocomotion/ROSPublisherTestDevice.h
  devices/examples/ROSPublisherTestDevice/src/ROSPublisherTestDevice.cpp
  src/Contacts/CMakeLists.txt
  src/Contacts/include/BipedalLocomotion/ContactDetectors/ContactDetector.h
  src/Contacts/include/BipedalLocomotion/ContactDetectors/SchmittTriggerDetector.h
  src/Contacts/src/ContactDetector.cpp
  src/Contacts/src/SchmittTriggerDetector.cpp
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/FloatingBaseEstimator.h
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/FloatingBaseEstimatorIO.h
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/LeggedOdometry.h
  src/Estimators/src/FloatingBaseEstimator.cpp
  src/Estimators/src/LeggedOdometry.cpp
  src/Perception/include/BipedalLocomotion/Perception/Capture/RealSense.h
  src/Perception/include/BipedalLocomotion/Perception/Features/ArucoDetector.h
  src/Perception/src/RealSense.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ICameraBridge.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/IPointCloudBridge.h
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
  src/YarpUtilities/src/RosPublisher.cpp
  utilities/mas-imu-test/README.md
  utilities/realsense-test/include/BipedalLocomotion/RealSenseTest/Module.h
Labels: [disable changelog ci]

#269 Implement Clock class
  CHANGELOG.md
  src/System/CMakeLists.txt
  src/System/YarpImplementation/CMakeLists.txt
  src/System/YarpImplementation/include/BipedalLocomotion/System/YarpClock.h
  src/System/YarpImplementation/src/YarpClock.cpp
  src/System/include/BipedalLocomotion/System/Clock.h
  src/System/include/BipedalLocomotion/System/IClock.h
  src/System/include/BipedalLocomotion/System/StdClock.h
  src/System/src/Clock.cpp
  src/System/src/StdClock.cpp
Labels: enhancement

#272 Introduce Advanceable Runner and SharedResource
  CHANGELOG.md
  src/GenericContainer/include/BipedalLocomotion/GenericContainer/TemplateHelpers.h
  src/System/CMakeLists.txt
  src/System/YarpImplementation/include/BipedalLocomotion/System/YarpClock.h
  src/System/YarpImplementation/src/YarpClock.cpp
  src/System/include/BipedalLocomotion/System/Advanceable.h
  src/System/include/BipedalLocomotion/System/AdvanceableRunner.h
  src/System/include/BipedalLocomotion/System/IClock.h
  src/System/include/BipedalLocomotion/System/SharedResource.h
  src/System/include/BipedalLocomotion/System/StdClock.h
  src/System/src/StdClock.cpp
  src/System/tests/AdvanceableRunnerTest.cpp
  src/System/tests/CMakeLists.txt
Labels: enhancement

#276 Bugfix in AdvanceableRunnerTest.cpp
  src/System/tests/AdvanceableRunnerTest.cpp
Labels: [disable changelog ci], bugfix

#275 Avoid to set a shared_ptr of kinDyn object in ContinuousDynamicalSystem classes
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FixedBaseDynamics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseDynamicsWithCompliantContacts.h
  src/ContinuousDynamicalSystem/src/FixedBaseDynamics.cpp
  src/ContinuousDynamicalSystem/src/FloatingBaseDynamicsWithCompliantContacts.cpp
Labels: [disable changelog ci]

#277 Implement handleQuitSignals() function in System component
  CHANGELOG.md
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/QuitHandler.h
  src/System/src/QuitHandler.cpp
Labels: enhancement

#281 Implement SO3 task in TSID
  CHANGELOG.md
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/SO3Task.h
  src/TSID/src/SO3Task.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/SO3TaskTest.cpp
Labels: enhancement

#282 Improve LeggedOdometry implementation
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/FloatingBaseEstimator.h
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/LeggedOdometry.h
  src/Estimators/src/LeggedOdometry.cpp
Labels: [disable changelog ci]

#289 [FloatingBaseEstimator] Bug fix in initialization LeggedOdometry
  CHANGELOG.md
  src/Estimators/src/LeggedOdometry.cpp
Labels: bugfix

#292 Bugfix in LeggedOdometry::updateKinematics()
  CHANGELOG.md
  src/Estimators/src/LeggedOdometry.cpp
Labels: bugfix
