Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-05, with the labels that each got.

#291 Add the possibility to initialize the VariablesHandler with the ParametersHandler
  CHANGELOG.md
  src/System/include/BipedalLocomotion/System/VariablesHandler.h
  src/System/src/VariablesHandler.cpp
  src/System/tests/VariablesHandlerTest.cpp
Labels: enhancement

#295 Fix copy-constructor and copy-assignment operator in `ContactPhaseList` class
  CHANGELOG.md
  src/Contacts/include/BipedalLocomotion/Contacts/ContactPhaseList.h
  src/Contacts/src/ContactPhaseList.cpp
  src/Contacts/tests/Contacts/ContactPhaseListTest.cpp
Labels: bugfix

#300 Move from doxygen to mcss documentation
  .github/workflows/gh-pages.yml
  docs/Doxyfile-mcss.in
  docs/Doxyfile.in
  docs/conf.py.in
  docs/generate_documentation_files.py
  docs/generate_website.sh
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FixedBaseDynamics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseDynamicsWithCompliantContacts.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemKinematics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/LinearTimeInvariantSystem.h
  src/Planners/include/BipedalLocomotion/Planners/TimeVaryingDCMPlanner.h
Labels: [disable changelog ci], documentation

#251 Implementation of Fixed Base Task Space Inverse Dynamics
  CHANGELOG.md
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/QPFixedBaseTSID.h
  src/TSID/src/QPFixedBaseTSID.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/QPFixedBaseTSIDTest.cpp
Labels: enhancement

#304 Implement `CoMTask` in TSID
  CHANGELOG.md
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/CoMTask.h
  src/TSID/src/CoMTask.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/CoMTaskTest.cpp
Labels: enhancement

#314 Fix librealsense installation in CI
  .github/workflows/ci.yml
Labels: [disable changelog ci]

#318 Implement template specialization for YarpImplementation::setParameterPrivate in case of std::vector<bool>
  src/ParametersHandler/YarpImplementation/include/BipedalLocomotion/ParametersHandler/YarpImplementation.h
  src/ParametersHandler/YarpImplementation/src/YarpImplementation.cpp
Labels: [disable changelog ci], bugfix
