Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-03, with the labels that each got.

#220 [TimeVaryingDCMPlanner] restructure of setDCMReference() and setContactPhaseList()
  bindings/python/TimeVaryingDCMPlanner.cpp
  src/Planners/include/BipedalLocomotion/Planners/DCMPlanner.h
  src/Planners/include/BipedalLocomotion/Planners/TimeVaryingDCMPlanner.h
  src/Planners/src/TimeVaryingDCMPlanner.cpp
Labels: [disable changelog ci]

#224 ModelComputationsHelper: Option to load KinDynComputationsDescriptor without specifying joints list
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/ModelComputationsHelper.h
  src/Estimators/src/ModelComputationsHelper.cpp
Labels: [disable changelog ci]

#232 Reduce the time needed by the SO3PlannerTest
  src/Planners/tests/SO3PlannerTest.cpp
Labels: [disable changelog ci]

#221 Add conda-force-ci GitHub Action job
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]

#229 Implement the Inverse kinematics in the repository
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  README.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/CMakeLists.txt
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/include/BipedalLocomotion/IK/IntegrationBasedIK.h
  src/IK/include/BipedalLocomotion/IK/JointTrackingTask.h
  src/IK/include/BipedalLocomotion/IK/LinearTask.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/include/BipedalLocomotion/IK/SO3Task.h
  src/IK/src/CoMTask.cpp
  src/IK/src/IntegrationBasedIK.cpp
  src/IK/src/JointTrackingTask.cpp
  src/IK/src/LinearTask.cpp
  src/IK/src/QPInverseKinematics.cpp
  src/IK/src/SE3Task.cpp
  src/IK/src/SO3Task.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/CoMTaskTest.cpp
  src/IK/tests/JointTrackingTaskTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/IK/tests/SE3TaskTest.cpp
  src/IK/tests/SO3TaskTest.cpp
  src/System/include/BipedalLocomotion/System/VariablesHandler.h
  src/System/src/VariablesHandler.cpp
Labels: enhancement

#239 Update IK and TSID to the latest manif version
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  src/IK/src/SE3Task.cpp
  src/IK/tests/SE3TaskTest.cpp
  src/TSID/src/SE3Task.cpp
  src/TSID/tests/SE3TaskTest.cpp
Labels: [disable changelog ci]

#248 Update ci.yml
  .github/workflows/ci.yml
Labels: [disable changelog ci]

#249 Fix - update of m_isValid variable added in JointTrackingTask
  src/IK/tests/CoMTaskTest.cpp
  src/IK/tests/JointTrackingTaskTest.cpp
  src/IK/tests/SE3TaskTest.cpp
  src/IK/tests/SO3TaskTest.cpp
  src/TSID/src/JointTrackingTask.cpp
  src/TSID/tests/DynamicsTaskTest.cpp
  src/TSID/tests/JointTrackingTaskTest.cpp
  src/TSID/tests/SE3TaskTest.cpp
Labels: [disable changelog ci], bugfix

#252 Ask for a specific version for the dependencies
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  cmake/BipedalLocomotionDependencyClassifier.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: [disable changelog ci]

#255 Fix pybind11 version
  .github/workflows/ci.yml
  bindings/python/bipedal_locomotion_framework.cpp.in
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: [disable changelog ci]

#257 Make BipedaLocomotion::log() function thread safe.
  src/TextLogging/src/Logger.cpp
Labels: [disable changelog ci]

#262 Fixed InstallBasicPackageFiles
  cmake/InstallBasicPackageFiles.cmake
Labels: [disable changelog ci]

#263 conda-forge-ci: Switch to use official robotology channel
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]
