Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-11, with the labels that each got.

#436 Implement the AngularMomentumTask in TSID component
  CHANGELOG.md
  bindings/python/TSID/CMakeLists.txt
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/AngularMomentumTask.h
  bindings/python/TSID/src/AngularMomentumTask.cpp
  bindings/python/TSID/src/Module.cpp
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/AngularMomentumTask.h
  src/TSID/src/AngularMomentumTask.cpp
  src/TSID/tests/AngularMomentumTaskTest.cpp
  src/TSID/tests/CMakeLists.txt
Labels: :hammer: component: TSID, :snake: bindings

#441 Implement ContactWrench python bindings
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  src/Math/include/BipedalLocomotion/Math/Wrench.h
Labels: :snake: bindings, :hammer: component: Math

#443 Implement AngularMomentum task in the IK component
  CHANGELOG.md
  bindings/python/IK/CMakeLists.txt
  bindings/python/IK/include/BipedalLocomotion/bindings/IK/AngularMomentumTask.h
  bindings/python/IK/src/AngularMomentumTask.cpp
  bindings/python/IK/src/Module.cpp
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/AngularMomentumTask.h
  src/IK/src/AngularMomentumTask.cpp
  src/IK/tests/AngularMomentumTaskTest.cpp
  src/IK/tests/CMakeLists.txt
Labels: :hammer: component: IK, :snake: bindings

#444 Implement `create_ik` python function
  CHANGELOG.md
  bindings/python/utils.py
Labels: :snake: bindings

#445 Add the possibility to set the task controller mode for the SE3Task in the TSID component and update the python bindings
  CHANGELOG.md
  bindings/python/IK/src/SE3Task.cpp
  bindings/python/System/CMakeLists.txt
  bindings/python/System/include/BipedalLocomotion/bindings/System/ITaskControllerManager.h
  bindings/python/System/src/ITaskControllerManager.cpp
  bindings/python/System/src/Module.cpp
  bindings/python/TSID/src/SE3Task.cpp
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/TSID/include/BipedalLocomotion/TSID/SE3Task.h
  src/TSID/src/SE3Task.cpp
Labels: :hammer: component: IK, :hammer: component: TSID, :snake: bindings

#448 Fix update labeler github action
  .github/workflows/update-labeler-file.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#454 Update the logic used to generate the documentation and add a python page
  .github/workflows/gh-pages.yml
  docs/Doxyfile.in
  docs/config.toml
  docs/generate_documentation_files.py
  docs/generate_website.py
  docs/generate_website.sh
  docs/pages/main-page.dox
  docs/pages/python-additional-info.md
Labels: [disable changelog ci], :book: documentation, :building_construction: GitHub action

#457 Fix the documentation generation
  .github/workflows/gh-pages.yml
  docs/conf.py.in
  docs/generate_website.py
Labels: [disable changelog ci], :book: documentation, :building_construction: GitHub action

#459 Fix - Add a new method to properly read the analog FT sensors
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

#461 Implement the toString method for the IK
  CHANGELOG.md
  bindings/python/IK/src/IntegrationBasedIK.cpp
  bindings/python/TSID/src/QPTSID.cpp
  bindings/python/TSID/src/TaskSpaceInverseDynamics.cpp
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/src/QPInverseKinematics.cpp
  src/System/include/BipedalLocomotion/System/ILinearTaskSolver.h
  src/TSID/include/BipedalLocomotion/TSID/QPTSID.h
Labels: :hammer: component: IK, :hammer: component: System, :hammer: component: TSID, :snake: bindings

#465 Implement the python bindings for the manif conversions methods
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/Conversions/CMakeLists.txt
  bindings/python/Conversions/include/BipedalLocomotion/bindings/Conversions/ManifConversions.h
  bindings/python/Conversions/include/BipedalLocomotion/bindings/Conversions/Module.h
  bindings/python/Conversions/src/ManifConversions.cpp
  bindings/python/Conversions/src/Module.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
Labels: :snake: bindings

#463 Fix `create_ik` python function
  bindings/python/utils.py
  docs/pages/python-additional-info.md
  src/IK/src/QPInverseKinematics.cpp
Labels: [disable changelog ci], :book: documentation, :hammer: component: IK, :snake: bindings
