Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2021-08, with the labels that each got.

#385 Allow changing the log verbosity
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/TextLogging/CMakeLists.txt
  bindings/python/TextLogging/include/BipedalLocomotion/bindings/TextLogging/Module.h
  bindings/python/TextLogging/include/BipedalLocomotion/bindings/TextLogging/TextLogging.h
  bindings/python/TextLogging/src/Module.cpp
  bindings/python/TextLogging/src/TextLogging.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/TextLogging/include/BipedalLocomotion/TextLogging/Logger.h
  src/TextLogging/src/Logger.cpp
Labels: enhancement

#392 Fix realsense installation in Ubuntu CI
  .github/workflows/ci.yml
Labels: [disable changelog ci]

#390 Fix the `TOML` and `YARP` implementation of the parameters handler when a `std::vector<bool>` is passed to the `setParameter()`
  .github/workflows/ci.yml
  CHANGELOG.md
  src/ParametersHandler/TomlImplementation/include/BipedalLocomotion/ParametersHandler/TomlImplementation.h
  src/ParametersHandler/TomlImplementation/src/TomlImplementation.cpp
  src/ParametersHandler/YarpImplementation/src/YarpImplementation.cpp
  src/ParametersHandler/tests/ParametersHandlerTomlTest.cpp
Labels: bugfix

#381 conda-forge-ci: Use tomlplusplus conda package
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci]

#402 Bump iDynTree version to 3.1.0 in Github CI
  .github/workflows/ci.yml
Labels: [disable changelog ci]
