Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2022-05, with the labels that each got.

#522 Save the robot name and the names of the channel's elements
  .github/workflows/ci.yml
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/Contacts/src/FixedFootDetector.cpp
  src/ParametersHandler/src/StdImplementation.cpp
  src/Planners/src/SwingFootPlanner.cpp
  src/Planners/src/TimeVaryingDCMPlanner.cpp
  src/System/src/LinearTask.cpp
Labels: :hammer: component: Contacts, :hammer: component: Planners, :hammer: component: ParametersHandler, :building_construction: GitHub action, :hammer: component: System

#526 Use icub-models to get the urdf models for the tests
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  bindings/python/FloatingBaseEstimators/CMakeLists.txt
  bindings/python/FloatingBaseEstimators/tests/model.urdf
  bindings/python/FloatingBaseEstimators/tests/test_legged_odometry.py
  bindings/python/IK/CMakeLists.txt
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  bindings/python/TSID/CMakeLists.txt
  bindings/python/TSID/tests/test_TSID.py
  cmake/AddBipedalLocomotionPythonModule.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Estimators/tests/FloatingBaseEstimators/CMakeLists.txt
  src/Estimators/tests/FloatingBaseEstimators/FloatingBaseEstimatorTest.cpp
  src/Estimators/tests/FloatingBaseEstimators/InvariantEKFBaseEstimatorTest.cpp
  src/Estimators/tests/FloatingBaseEstimators/ResourceFolderPath.h.in
  src/Estimators/tests/FloatingBaseEstimators/base-estimator/model.urdf
Labels: :building_construction: GitHub action, :snake: bindings, :hammer: component: Estimators

#528 Add the test for the Cubic spline
  CHANGELOG.md
  src/Planners/include/BipedalLocomotion/Planners/CubicSpline.h
  src/Planners/src/CubicSpline.cpp
  src/Planners/tests/SplineTest.cpp
Labels: :hammer: component: Planners

#519 Add temperature sensors to YarpSensorBridge and YarpRobotLogger, migrate to MAS interfaces for FT Sensors
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/interface/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/interface/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

#532 Implement the bindings for the ContinuousDynamicalSystem component
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/DynamicalSystem.h
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/FloatingBaseSystemKinematics.h
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/Integrator.h
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/LinearTimeInvariantSystem.h
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/Module.h
  bindings/python/ContinuousDynamicalSystem/src/FloatingBaseSystemKinematics.cpp
  bindings/python/ContinuousDynamicalSystem/src/LinearTimeInvariantSystem.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/ContinuousDynamicalSystem/tests/test_floating_base_system_kinematics.py
  bindings/python/ContinuousDynamicalSystem/tests/test_linear_system.py
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FixedStepIntegrator.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/ForwardEuler.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/Integrator.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/impl/traits.h
Labels: :hammer: component: ContinuousDynamicalSystem, :snake: bindings
