Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2022-01, with the labels that each got.

#494 Avoid duplicate runs with push and pull_request in the github action
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#495 Use enum underlying type to convert TextLogging verbosity level to spdlog verbosity level
  CHANGELOG.md
  src/TextLogging/include/BipedalLocomotion/TextLogging/Logger.h
  src/TextLogging/src/Logger.cpp
Labels: :hammer: component: TextLogging

#492 Add joint and motor acceleration reading
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

#487 Use telemetry in YarpLoggerDevice
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/YarpRobotLoggerDevice/CMakeLists.txt
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
Labels: :hammer: component: RobotInterface

#496 Ask for osqp-eigen 0.7.0
  .github/workflows/ci.yml
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: [disable changelog ci], :building_construction: GitHub action

#497 Use official m.css to build the documentation
  .github/workflows/gh-pages.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#491 Fix deprecated `YARP` functions in `YarpUtilities` component
  .github/workflows/ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/valgrind-linux.supp
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/Helper.tpp
  src/YarpUtilities/src/Helper.cpp
  src/YarpUtilities/tests/YarpUtilitiesTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: YarpUtilities

#500 Implement python bindings for the classes that handle the clock
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/System/CMakeLists.txt
  bindings/python/System/include/BipedalLocomotion/bindings/System/Clock.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/IClock.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/Module.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/YarpClock.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/YarpModule.h
  bindings/python/System/src/Clock.cpp
  bindings/python/System/src/IClock.cpp
  bindings/python/System/src/Module.cpp
  bindings/python/System/src/YarpClock.cpp
  bindings/python/System/src/YarpModule.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/System/include/BipedalLocomotion/System/Clock.h
  src/System/src/Clock.cpp
Labels: :hammer: component: System, :snake: bindings
