Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2022-02, with the labels that each got.

#506 Introduce the IWeightProvider and the ConstantWeightProvider
  CHANGELOG.md
  bindings/python/System/CMakeLists.txt
  bindings/python/System/include/BipedalLocomotion/bindings/System/ILinearTaskSolver.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/WeightProvider.h
  bindings/python/System/src/Module.cpp
  bindings/python/System/src/WeightProvider.cpp
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/src/QPInverseKinematics.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/ConstantWeightProvider.h
  src/System/include/BipedalLocomotion/System/ILinearTaskSolver.h
  src/System/include/BipedalLocomotion/System/IWeightProvider.h
  src/System/src/ConstantWeightProvider.cpp
  src/TSID/include/BipedalLocomotion/TSID/QPTSID.h
  src/TSID/src/QPTSID.cpp
  src/TSID/tests/QPFixedBaseTSIDTest.cpp
Labels: :hammer: component: IK, :hammer: component: System, :hammer: component: TSID, :snake: bindings

#508 Add installation of pip metadata files for when blf python bindings are installed only via CMake
  CHANGELOG.md
  bindings/CMakeLists.txt
Labels: :snake: bindings

#511 Implement the python bindings for the VectorsCollection message and the associated buffered port
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/YarpUtilities/CMakeLists.txt
  bindings/python/YarpUtilities/include/BipedalLocomotion/bindings/YarpUtilities/BufferedPort.h
  bindings/python/YarpUtilities/include/BipedalLocomotion/bindings/YarpUtilities/Module.h
  bindings/python/YarpUtilities/include/BipedalLocomotion/bindings/YarpUtilities/VectorsCollection.h
  bindings/python/YarpUtilities/src/Module.cpp
  bindings/python/YarpUtilities/src/VectorsCollection.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: :building_construction: GitHub action, :snake: bindings

#512 Add VectorsCollectionWrapper device
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/CMakeLists.txt
  devices/VectorsCollectionWrapper/CMakeLists.txt
  devices/VectorsCollectionWrapper/README.md
  devices/VectorsCollectionWrapper/app/CMakeLists.txt
  devices/VectorsCollectionWrapper/app/robots/iCubGazeboV3/launch-vectors-collection-wrapper.xml
  devices/VectorsCollectionWrapper/app/robots/iCubGazeboV3/vectors-collection-wrapper.xml
  devices/VectorsCollectionWrapper/include/BipedalLocomotion/VectorsCollectionWrapper.h
  devices/VectorsCollectionWrapper/src/VectorsCollectionWrapper.cpp
Labels: enhancement
