Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2022-09, with the labels that each got.

#556 Fix the compatibility with fmt v9.0.0
  .github/workflows/ci.yml
  CHANGELOG.md
  src/TextLogging/CMakeLists.txt
  src/TextLogging/include/BipedalLocomotion/TextLogging/Logger.h
Labels: :building_construction: GitHub action, :hammer: component: TextLogging

#555 Implement the MultiStateWeightProvider and refactor the WeightProvider
  CHANGELOG.md
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/MultiStateWeightProvider.h
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/ContinuousDynamicalSystem/src/MultiStateWeightProvider.cpp
  bindings/python/System/CMakeLists.txt
  bindings/python/System/include/BipedalLocomotion/bindings/System/Advanceable.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/ILinearTaskSolver.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/WeightProvider.h
  bindings/python/System/src/Advanceable.cpp
  bindings/python/System/src/Module.cpp
  bindings/python/System/src/WeightProvider.cpp
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/MultiStateWeightProvider.h
  src/ContinuousDynamicalSystem/src/FirstOrderSmoother.cpp
  src/ContinuousDynamicalSystem/src/MultiStateWeightProvider.cpp
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/MultiStateWeightProvider.cpp
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/src/QPInverseKinematics.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/Advanceable.h
  src/System/include/BipedalLocomotion/System/ConstantWeightProvider.h
  src/System/include/BipedalLocomotion/System/ILinearTaskSolver.h
  src/System/include/BipedalLocomotion/System/IWeightProvider.h
  src/System/include/BipedalLocomotion/System/InputPort.h
  src/System/include/BipedalLocomotion/System/OutputPort.h
  src/System/include/BipedalLocomotion/System/WeightProvider.h
  src/System/src/ConstantWeightProvider.cpp
  src/TSID/include/BipedalLocomotion/TSID/QPTSID.h
  src/TSID/src/QPTSID.cpp
  src/TSID/tests/QPFixedBaseTSIDTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :hammer: component: System, :hammer: component: TSID, :snake: bindings

#559 Implement the IK::R3Task
  CHANGELOG.md
  bindings/python/IK/CMakeLists.txt
  bindings/python/IK/include/BipedalLocomotion/bindings/IK/R3Task.h
  bindings/python/IK/src/R3Task.cpp
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/R3Task.h
  src/IK/src/R3Task.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/R3TaskTest.cpp
Labels: :hammer: component: IK, :snake: bindings

#566 Accept boolean as integer while getting an element from searchable in YarpUtilities
  CHANGELOG.md
  bindings/python/ParametersHandler/tests/test_parameters_handler_yarp.py
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/Helper.tpp
  src/YarpUtilities/tests/YarpUtilitiesTest.cpp
Labels: :snake: bindings, :hammer: component: YarpUtilities

#567 Add the possibility to set the exogenous feedback for the IK::SE3Task
  CHANGELOG.md
  bindings/python/IK/src/SE3Task.cpp
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/src/SE3Task.cpp
  src/IK/tests/SE3TaskTest.cpp
Labels: :hammer: component: IK, :snake: bindings

#568 Implement constructMultipleAnalogSensorsClient and constructMultipleAnalogSensorsRemapper functions
  CHANGELOG.md
  bindings/python/RobotInterface/src/Polydriver.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpHelper.h
  src/RobotInterface/YarpImplementation/src/YarpHelper.cpp
Labels: :snake: bindings, :hammer: component: RobotInterface

#565 Bump vcpkg-robotology-dependencies tag to v0.10.1 and fix qhull linking
  .github/workflows/ci.yml
  CHANGELOG.md
  src/Planners/CMakeLists.txt
Labels: :hammer: component: Planners, :building_construction: GitHub action
