Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2022-11, with the labels that each got.

#573 Add the maintainers
  .github/CODEOWNERS
  README.md
Labels: [disable changelog ci], :building_construction: GitHub action

#574 Fix simple typo in YarpLoggerFactory docs
  src/TextLogging/YarpImplementation/include/BipedalLocomotion/TextLogging/YarpLogger.h
Labels: [disable changelog ci], :hammer: component: TextLogging

#575 Design the ROS2 implementation for Clock class
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/System/CMakeLists.txt
  bindings/python/System/include/BipedalLocomotion/bindings/System/RosClock.h
  bindings/python/System/include/BipedalLocomotion/bindings/System/RosModule.h
  bindings/python/System/src/RosClock.cpp
  bindings/python/System/src/RosModule.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  cmake/AddUninstallTarget.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/System/CMakeLists.txt
  src/System/RosImplementation/CMakeLists.txt
  src/System/RosImplementation/include/BipedalLocomotion/System/RosClock.h
  src/System/RosImplementation/src/RosClock.cpp
Labels: :building_construction: GitHub action, :hammer: component: System, :snake: bindings
