Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-09, with the labels that each got.

#720 Change FT sensors names for compatibility with icub-models >= 2.0.0, robots-configuration >= 2.5.0 and ergocub-software >= 0.3.4
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/ft-imu-mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/ft-imu-mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/tests/RobotDynamicsEstimator/ConstantMeasurementModelTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/ZeroVelocityStateDynamicsTest.cpp
Labels: :hammer: component: Estimators

#724 Add the possibility to control a subset of coordinates in TSID::CoMTask
  CHANGELOG.md
  src/IK/src/CoMTask.cpp
  src/TSID/include/BipedalLocomotion/TSID/CoMTask.h
  src/TSID/src/CoMTask.cpp
  src/TSID/tests/CoMTaskTest.cpp
Labels: :hammer: component: IK, :hammer: component: TSID

#728 Fix changelog-checker CI check
  .github/workflows/changelog-checker.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#727 Fix dimension of A and b matrices in TSID's CoMTask
  CHANGELOG.md
  src/TSID/src/CoMTask.cpp
Labels: :hammer: component: TSID

#726 Set a maximum number of accepted deadline miss the the AdvanceableRunner
  CHANGELOG.md
  src/System/include/BipedalLocomotion/System/AdvanceableRunner.h
Labels: :hammer: component: System

#717 Distance and gravity tasks
  .gitignore
  CHANGELOG.md
  bindings/python/IK/CMakeLists.txt
  bindings/python/IK/include/BipedalLocomotion/bindings/IK/DistanceTask.h
  bindings/python/IK/include/BipedalLocomotion/bindings/IK/GravityTask.h
  bindings/python/IK/src/DistanceTask.cpp
  bindings/python/IK/src/GravityTask.cpp
  bindings/python/IK/src/Module.cpp
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/DistanceTask.h
  src/IK/include/BipedalLocomotion/IK/GravityTask.h
  src/IK/src/DistanceTask.cpp
  src/IK/src/GravityTask.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/DistanceTaskTest.cpp
  src/IK/tests/GravityTaskTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK, :snake: bindings
