Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-01, with the labels that each got.

#569 Improvements on the `MultipleAnalogSensorsRemapper` handling in the framework
  CHANGELOG.md
  src/IK/src/SE3Task.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpHelper.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpHelper.cpp
Labels: :hammer: component: IK, :hammer: component: RobotInterface

#583 Workaround for python brew installation
  .github/workflows/ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#581 Ask for toml++ v3.0.1
  .github/workflows/ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: :building_construction: GitHub action

#582 [TextLogging] Allow custom logger name
  src/TextLogging/YarpImplementation/include/BipedalLocomotion/TextLogging/YarpLogger.h
  src/TextLogging/YarpImplementation/src/YarpLogger.cpp
  src/TextLogging/include/BipedalLocomotion/TextLogging/DefaultLogger.h
  src/TextLogging/src/DefaultLogger.cpp
Labels: :hammer: component: TextLogging

#588 Fix iDynTree 4.3.0 deprecations
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/tests/FloatingBaseEstimators/CMakeLists.txt
Labels: :hammer: component: Estimators

#593 Fix conda-ci GitHub Action CI by using mambaforge directly
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

#589 Fix compatibility with OpenCV 4.7.0
  CHANGELOG.md
  src/Perception/src/ArucoDetector.cpp
Labels: :hammer: component: Perception

#590 Use _WIN32 to check windows OS
  src/System/src/QuitHandler.cpp
Labels: :hammer: component: System

#594 Fix gh-pages CI
  .github/workflows/gh-pages.yml
Labels: [disable changelog ci], :building_construction: GitHub action
