Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-12, with the labels that each got.

#774 Avoid to call getMetadata if the signal is not connected in YarpRobotLoggerDevice
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: [disable changelog ci]

#759 Add process dynamics class for external contacts
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModel.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

#777 Implement toString() methods in PlannedContact, ContactList, ContactPhase and ContactPhaseList
  CHANGELOG.md
  src/Contacts/include/BipedalLocomotion/Contacts/Contact.h
  src/Contacts/include/BipedalLocomotion/Contacts/ContactList.h
  src/Contacts/include/BipedalLocomotion/Contacts/ContactPhase.h
  src/Contacts/include/BipedalLocomotion/Contacts/ContactPhaseList.h
  src/Contacts/src/Contact.cpp
  src/Contacts/src/ContactList.cpp
  src/Contacts/src/ContactPhase.cpp
  src/Contacts/src/ContactPhaseList.cpp
Labels: :hammer: component: Contacts

#778 Fix metadata collection in YarpRobotLoggerDevice
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: [disable changelog ci]

#781 Install all common mamba dependencies in a single command
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#779 Update the README in YarpRobotLoggerDevice
  devices/YarpRobotLoggerDevice/README.md
Labels: [disable changelog ci]

#782 Implement LinearSpline in Math component
  CHANGELOG.md
  bindings/python/Math/include/BipedalLocomotion/bindings/Math/Spline.h
  bindings/python/Math/src/Module.cpp
  bindings/python/Math/src/Spline.cpp
  src/Math/CMakeLists.txt
  src/Math/include/BipedalLocomotion/Math/CubicSpline.h
  src/Math/include/BipedalLocomotion/Math/LinearSpline.h
  src/Math/include/BipedalLocomotion/Math/QuinticSpline.h
  src/Math/include/BipedalLocomotion/Math/Spline.h
  src/Math/tests/SplineTest.cpp
Labels: :snake: bindings, :hammer: component: Math

#784 Add the support of QP problems with no constraint in QPInverseKinematics and QPTSID
  CHANGELOG.md
  src/IK/src/QPInverseKinematics.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/TSID/src/QPTSID.cpp
Labels: :hammer: component: IK, :hammer: component: TSID

#783 Add logging of jabra camera and balancing application data
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/webcams.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
Labels: [disable changelog ci]

#785 Add the possibility to set the SwingFootPlanner position and orientation tolerances as configuration parameters
  src/Planners/include/BipedalLocomotion/Planners/SwingFootPlanner.h
  src/Planners/src/SwingFootPlanner.cpp
Labels: [disable changelog ci], :hammer: component: Planners

#786 [ergoCubSN001] Enable the logging of the torso pitch joint
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/all_joints_mc.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
Labels: [disable changelog ci]

#775 Add plot of the joint position error
  CHANGELOG.md
  utilities/joint-position-tracking/script/blf_joint_position_tracking_plot_dataset.py
Labels: :computer: utilities

#787 Add joints grid trajectory generator application
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  utilities/CMakeLists.txt
  utilities/balancing-position-control/script/blf-balancing-position-control.py
  utilities/joints-grid-position-tracking/CMakeLists.txt
  utilities/joints-grid-position-tracking/README.md
  utilities/joints-grid-position-tracking/blf-joints-grid-position-tracking.py
  utilities/joints-grid-position-tracking/config/robots/ergoCubGazeboV1_1/blf-joints-grid-position-tracking-options.ini
  utilities/joints-grid-position-tracking/config/robots/ergoCubGazeboV1_1/blf_joints_grid_position_tracking/data_logging.ini
  utilities/joints-grid-position-tracking/config/robots/ergoCubGazeboV1_1/blf_joints_grid_position_tracking/robot_control.ini
  utilities/joints-grid-position-tracking/config/robots/ergoCubGazeboV1_1/blf_joints_grid_position_tracking/sensor_bridge.ini
Labels: :computer: utilities

#788 Add the possibility to resample the contact in a given contact list and force the MPC to required correctly sampled contacts
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  src/Contacts/include/BipedalLocomotion/Contacts/ContactList.h
  src/Contacts/include/BipedalLocomotion/Contacts/ContactPhaseList.h
  src/Contacts/src/ContactList.cpp
  src/Contacts/src/ContactPhaseList.cpp
  src/Contacts/tests/Contacts/ContactListTest.cpp
  src/Planners/src/SwingFootPlanner.cpp
  src/ReducedModelControllers/src/CentroidalMPC.cpp
Labels: :hammer: component: Contacts, :hammer: component: Planners, :hammer: component: ReducedModelControllers, :snake: bindings
