Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-11, with the labels that each got.

#743 Add tests for already merged classes of RDE library - PR3
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/KinDynWrapper.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConstantMeasurementModelTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/ZeroVelocityStateDynamicsTest.cpp
Labels: :hammer: component: Estimators

#749 Avoid to download the robot and the network models if the tests are not enabled in ML component
  CHANGELOG.md
  src/ML/tests/CMakeLists.txt
Labels: :hammer: component: ML

#750 Implement inequality operator for the PlannedContact class
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  src/Contacts/include/BipedalLocomotion/Contacts/Contact.h
  src/Contacts/src/Contact.cpp
Labels: :hammer: component: Contacts, :snake: bindings

#752 Update the CMakeLists.txt to be compliant with python 3.12
  CHANGELOG.md
  bindings/CMakeLists.txt
Labels: :snake: bindings

#753 Fix inequality operator in PlannedContact bindings
  bindings/python/Contacts/src/Contacts.cpp
Labels: [disable changelog ci], :snake: bindings

#744 Add state/measurement models and RDE main class - PR4
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/config.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

#755 Add Python bindings for RDE library - PR5
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/RobotDynamicsEstimator/CMakeLists.txt
  bindings/python/RobotDynamicsEstimator/include/BipedalLocomotion/bindings/RobotDynamicsEstimator/Module.h
  bindings/python/RobotDynamicsEstimator/include/BipedalLocomotion/bindings/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  bindings/python/RobotDynamicsEstimator/src/Module.cpp
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
Labels: :snake: bindings

#722 added mass matrix regularziation in TSID joint dynamic task
  CHANGELOG.md
  src/TSID/include/BipedalLocomotion/TSID/JointDynamicsTask.h
  src/TSID/src/JointDynamicsTask.cpp
Labels: :hammer: component: TSID

#757 Add missing include(FetchContent) in bindings/python/RobotInterface/CMakeLists.txt
  CHANGELOG.md
  bindings/python/RobotInterface/CMakeLists.txt
Labels: :snake: bindings

#758 Fix some typos in the README
  README.md
Labels: [disable changelog ci]

#762 Fixed compilation on Windows of fmt formatter for Eigen types.
  CHANGELOG.md
  src/TextLogging/include/BipedalLocomotion/TextLogging/Logger.h
Labels: :hammer: component: TextLogging

#764 Implement ContactList::getNextContact and ContactList::getActiveContact in Contact component
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  src/Contacts/include/BipedalLocomotion/Contacts/ContactList.h
  src/Contacts/src/ContactList.cpp
  src/Contacts/tests/Contacts/ContactListTest.cpp
Labels: :hammer: component: Contacts, :snake: bindings

#766 Restructure of the CentroidalMPC class
  CHANGELOG.md
  bindings/python/ReducedModelControllers/src/CentroidalMPC.cpp
  bindings/python/ReducedModelControllers/tests/test_centroidal_mpc.py
  bindings/python/tests/CMakeLists.txt
  src/ReducedModelControllers/include/BipedalLocomotion/ReducedModelControllers/CentroidalMPC.h
  src/ReducedModelControllers/src/CentroidalMPC.cpp
  src/ReducedModelControllers/tests/CentroidalMPCTest.cpp
Labels: :hammer: component: ReducedModelControllers, :snake: bindings

#765 Refactory of the swing foot planner
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  bindings/python/Planners/src/SwingFootPlanner.cpp
  bindings/python/Planners/tests/test_swing_foot_planner.py
  src/Planners/include/BipedalLocomotion/Planners/SwingFootPlanner.h
  src/Planners/src/SwingFootPlanner.cpp
Labels: :hammer: component: Planners, :snake: bindings

#767 Implement VectorsCollectionServer and VectorsCollectionClient classes
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV2_5/interface/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV2_5/interface/wrench_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/ft-imu-mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/mas-left-leg-inertial-client.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/mas-right-leg-inertial-client.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/right_leg_mc.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/blf-yarp-robot-logger-interfaces/root_imu.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova02/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/all_joints_mc.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/ft-imu-mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/ft_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/mas-left-leg-inertial-client.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/mas-right-leg-inertial-client.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/blf-yarp-robot-logger-interfaces/root_imu.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova04/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/VectorsCollectionClient.h
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/VectorsCollectionServer.h
  src/YarpUtilities/src/VectorsCollectionClient.cpp
  src/YarpUtilities/src/VectorsCollectionServer.cpp
  src/YarpUtilities/thrifts/BipedalLocomotion/YarpUtilities/VectorsCollection.thrift
Labels: :hammer: component: YarpUtilities

#770 CI: Bump vcpkg-robotology to v0.11.0
  .github/workflows/ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#771 Restructure ML component
  CHANGELOG.md
  bindings/python/ML/src/MANNAutoregressive.cpp
  bindings/python/ML/src/MANNTrajectoryGenerator.cpp
  examples/MANN/MANNAutoregressive.ipynb
  examples/MANN/MANNTrajectoryGenerator.ipynb
  examples/MANN/README.md
  examples/MANN/config/config_joypad.toml
  examples/MANN/config/config_mann.toml
  src/ML/include/BipedalLocomotion/ML/MANN.h
  src/ML/include/BipedalLocomotion/ML/MANNAutoregressive.h
  src/ML/include/BipedalLocomotion/ML/MANNTrajectoryGenerator.h
  src/ML/src/MANN.cpp
  src/ML/src/MANNAutoregressive.cpp
  src/ML/src/MANNTrajectoryGenerator.cpp
  src/ML/tests/MANNTest.cpp
  src/ML/tests/MANNTrajectoryGeneratorTest.cpp
Labels: :snake: bindings, :school: Examples, :hammer: component: ML
