Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-06, with the labels that each got.

#683 Implement QuadraticBezierCurve and MANNAutoregressiveInputBuilder
  CHANGELOG.md
  bindings/python/ML/CMakeLists.txt
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/MANNAutoregressiveInputBuilder.h
  bindings/python/ML/src/MANNAutoregressiveInputBuilder.cpp
  bindings/python/ML/src/Module.cpp
  src/ML/CMakeLists.txt
  src/ML/include/BipedalLocomotion/ML/MANNAutoregressiveInputBuilder.h
  src/ML/src/MANNAutoregressiveInputBuilder.cpp
  src/Math/CMakeLists.txt
  src/Math/include/BipedalLocomotion/Math/QuadraticBezierCurve.h
  src/Math/src/QuadraticBezierCurve.cpp
Labels: :snake: bindings, :hammer: component: Math, :hammer: component: ML

#684 Use schmitt trigger to detect the contat activation and deactivation in MANN
  CHANGELOG.md
  bindings/python/Math/src/SchmittTrigger.cpp
  src/Contacts/src/SchmittTriggerDetector.cpp
  src/ML/include/BipedalLocomotion/ML/MANNAutoregressive.h
  src/ML/src/MANNAutoregressive.cpp
  src/ML/src/MANNTrajectoryGenerator.cpp
  src/ML/tests/MANNTest.cpp
  src/ML/tests/MANNTrajectoryGeneratorTest.cpp
  src/Math/include/BipedalLocomotion/Math/SchmittTrigger.h
  src/Math/src/SchmittTrigger.cpp
Labels: [disable changelog ci], :hammer: component: Contacts, :snake: bindings, :hammer: component: Math, :hammer: component: ML

#687 Expose the CoM trajectory and the angular momentum trajectory as std::vector in MANNTrajectoryGenerator
  src/ML/include/BipedalLocomotion/ML/MANNTrajectoryGenerator.h
  src/ML/src/MANNTrajectoryGenerator.cpp
  src/ML/tests/MANNTrajectoryGeneratorTest.cpp
Labels: [disable changelog ci], :hammer: component: ML

#435 Add UnicyclePlanner to the list of dependency to disable in CI to check if build works fine anyhow
  .github/workflows/ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#686 MANN: support Windows
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  cmake/Findonnxruntime.cmake
  src/ML/src/MANN.cpp
Labels: :building_construction: GitHub action, :hammer: component: ML

#688 Add the possibility to change the orientation of the foot in the swing foot planner when the contact is not active
  CHANGELOG.md
  docs/config.toml
  docs/pages/main-page.dox
  docs/pages/so3-minjerk.md
  src/Planners/include/BipedalLocomotion/Planners/SO3Planner.h
  src/Planners/include/BipedalLocomotion/Planners/SO3Planner.tpp
  src/Planners/include/BipedalLocomotion/Planners/SwingFootPlanner.h
  src/Planners/src/SwingFootPlanner.cpp
  src/Planners/tests/SO3PlannerTest.cpp
  src/Planners/tests/SwingFootPlannerTest.cpp
Labels: :hammer: component: Planners, :book: documentation

#691 Fix CentroidalMPC documentation
  src/ReducedModelControllers/include/BipedalLocomotion/ReducedModelControllers/CentroidalMPC.h
Labels: [disable changelog ci], :hammer: component: ReducedModelControllers

#641 Implement BaseEstimatorFromFootIMU
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/FloatingBaseEstimators/BaseEstimatorFromFootIMU.h
  src/Estimators/src/BaseEstimatorFromFootIMU.cpp
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
  src/Estimators/tests/FloatingBaseEstimators/CMakeLists.txt
Labels: :hammer: component: Estimators

#692 Make the YarpSensorBridge compatible with MAS that use the same name between gyro ac magn and orientation
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
Labels: :hammer: component: RobotInterface

#693 Rename the audio in blf-logger-with-audio only if the mat and the wav files have been created
  devices/YarpRobotLoggerDevice/scripts/blf-logger-with-audio.sh
Labels: [disable changelog ci]

#650 Python bindings for : Centroidal MPC, Centroidal Dynamics and Contacts
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/Contacts/src/Contacts.cpp
  bindings/python/Contacts/tests/test_contact.py
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/CentroidalDynamics.h
  bindings/python/ContinuousDynamicalSystem/src/CentroidalDynamics.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/ContinuousDynamicalSystem/tests/test_centroidal_dynamics.py
  bindings/python/ReducedModelControllers/CMakeLists.txt
  bindings/python/ReducedModelControllers/include/BipedalLocomotion/bindings/ReducedModelControllers/CentroidalMPC.h
  bindings/python/ReducedModelControllers/include/BipedalLocomotion/bindings/ReducedModelControllers/Module.h
  bindings/python/ReducedModelControllers/src/CentroidalMPC.cpp
  bindings/python/ReducedModelControllers/src/Module.cpp
  bindings/python/ReducedModelControllers/tests/test_centroidal_mpc.py
  bindings/python/bipedal_locomotion_framework.cpp.in
Labels: :snake: bindings
