Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-05, with the labels that each got.

#661 Implement robot dynamics estimator - PR1
  CHANGELOG.md
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModelKinDynWrapper.h
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/SubModelKinDynWrapper.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelKinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/config.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

#662 Implement robot dynamics estimator - PR2
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ConstantMeasurementModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/Dynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/JointVelocityStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModelKinDynWrapper.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ZeroVelocityStateDynamics.h
  src/Estimators/src/ConstantMeasurementModel.cpp
  src/Estimators/src/Dynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/ZeroVelocityStateDynamics.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConstantMeasurementModelTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/ZeroVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

#666 Add accelerometer and gyroscope dynamic models
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
Labels: :hammer: component: Estimators

#667 Add process model for friction torque and measurement model for motor current
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/MotorCurrentMeasurementDynamics.h
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
Labels: :hammer: component: Estimators

#675 Add workaround for conda-forge manifpy and GCC 12 problem
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

#672 Enable depth logging in YarpRobotLoggerDevice
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/blf-yarp-robot-logger-interfaces/webcams.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/RobotInterface/YarpImplementation/src/YarpCameraBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ICameraBridge.h
Labels: :hammer: component: RobotInterface

#659 Add the possibility to use MANN in autoregressive fashion
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/ML/CMakeLists.txt
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/MANN.h
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/MANNAutoregressive.h
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/Module.h
  bindings/python/ML/src/MANN.cpp
  bindings/python/ML/src/MANNAutoregressive.cpp
  bindings/python/ML/src/Module.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/LieGroupDynamics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/SO3Dynamics.h
  src/Conversions/include/BipedalLocomotion/Conversions/ManifConversions.h
  src/ML/CMakeLists.txt
  src/ML/include/BipedalLocomotion/ML/MANNAutoregressive.h
  src/ML/src/MANNAutoregressive.cpp
  src/ML/tests/CMakeLists.txt
  src/ML/tests/MANNTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :snake: bindings, :hammer: component: Conversions, :hammer: component: ML

#678 Avoid to set the trajectory length in MANN
  src/ML/src/MANN.cpp
  src/ML/tests/CMakeLists.txt
  src/ML/tests/MANNTest.cpp
Labels: [disable changelog ci], :hammer: component: ML

#680 Fix macOS compilation of FeasibleContactWrenchTask
  src/TSID/src/FeasibleContactWrenchTask.cpp
Labels: [disable changelog ci], :hammer: component: TSID

#669 Add UkfState class
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ConstantMeasurementModel.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/UkfStateTest.cpp
Labels: :hammer: component: Estimators

#668 Implement MANNTrajectoryGenerator in ML component
  CHANGELOG.md
  bindings/python/ML/CMakeLists.txt
  bindings/python/ML/include/BipedalLocomotion/bindings/ML/MANNTrajectoryGenerator.h
  bindings/python/ML/src/MANNAutoregressive.cpp
  bindings/python/ML/src/MANNTrajectoryGenerator.cpp
  bindings/python/ML/src/Module.cpp
  src/ML/CMakeLists.txt
  src/ML/include/BipedalLocomotion/ML/MANNAutoregressive.h
  src/ML/include/BipedalLocomotion/ML/MANNTrajectoryGenerator.h
  src/ML/src/MANNAutoregressive.cpp
  src/ML/src/MANNTrajectoryGenerator.cpp
  src/ML/tests/CMakeLists.txt
  src/ML/tests/FolderPath.h.in
  src/ML/tests/MANNTest.cpp
  src/ML/tests/MANNTrajectoryGeneratorTest.cpp
Labels: :snake: bindings, :hammer: component: ML
