Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-03, with the labels that each got.

#618 Fix race condition in System::ClockBuilder
  CHANGELOG.md
  src/System/include/BipedalLocomotion/System/Clock.h
Labels: :hammer: component: System

#614 Add the possibility to programmatically build an IK problem from a configuration file
  CHANGELOG.md
  bindings/python/IK/src/CoMTask.cpp
  bindings/python/IK/src/IKLinearTask.cpp
  bindings/python/IK/src/JointLimitsTask.cpp
  bindings/python/IK/src/JointTrackingTask.cpp
  bindings/python/IK/src/QPInverseKinematics.cpp
  bindings/python/IK/src/R3Task.cpp
  bindings/python/IK/src/SE3Task.cpp
  bindings/python/IK/src/SO3Task.cpp
  bindings/python/System/include/BipedalLocomotion/bindings/System/ILinearTaskSolver.h
  bindings/python/utils.py
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/AngularMomentumTask.h
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/include/BipedalLocomotion/IK/IKLinearTask.h
  src/IK/include/BipedalLocomotion/IK/JointLimitsTask.h
  src/IK/include/BipedalLocomotion/IK/JointTrackingTask.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/R3Task.h
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/include/BipedalLocomotion/IK/SO3Task.h
  src/IK/src/IKLinearTask.cpp
  src/IK/src/JointLimitsTask.cpp
  src/IK/src/QPInverseKinematics.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/ILinearTaskFactory.h
Labels: :hammer: component: IK, :hammer: component: System, :snake: bindings

#619 Add WeightProvider factory and implement IntegrationBasedIKProblem
  CHANGELOG.md
  bindings/python/IK/src/IntegrationBasedIK.cpp
  bindings/python/IK/src/QPInverseKinematics.cpp
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/MultiStateWeightProvider.h
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/IntegrationBasedIK.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/src/IntegrationBasedIK.cpp
  src/IK/src/QPInverseKinematics.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/ConstantWeightProvider.h
  src/System/include/BipedalLocomotion/System/Factory.h
  src/System/include/BipedalLocomotion/System/ILinearTaskFactory.h
  src/System/include/BipedalLocomotion/System/WeightProvider.h
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :hammer: component: System, :snake: bindings

#621 Update the IK tutorial to use QPInverseKinematics::build
  CHANGELOG.md
  examples/InverseKinematics/config/ik.toml
  examples/InverseKinematics/inverse_kinematics.ipynb
Labels: :school: Examples

#622 Return an error if an invalid KinDynComputations object is passed to `QPInverseKinematics::build()`
  CHANGELOG.md
  src/IK/src/QPInverseKinematics.cpp
Labels: :hammer: component: IK

#623 Update InverseKinematics example README
  examples/InverseKinematics/README.md
Labels: :school: Examples

#625 Handle the case without force/torque sensors
  CHANGELOG.md
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModel.h
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/SubModelKinDynWrapper.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelKinDynWrapperTest.cpp
Labels: :hammer: component: Estimators

#624 Restructure ContactDetector machinery
  CHANGELOG.md
  bindings/python/Contacts/include/BipedalLocomotion/bindings/Contacts/ContactDetectors.h
  bindings/python/Contacts/src/ContactDetectors.cpp
  bindings/python/Contacts/src/Module.cpp
  bindings/python/Contacts/tests/test_schmitt_trigger_detector.py
  bindings/python/Math/CMakeLists.txt
  bindings/python/Math/include/BipedalLocomotion/bindings/Math/SchmittTrigger.h
  bindings/python/Math/src/Module.cpp
  bindings/python/Math/src/SchmittTrigger.cpp
  src/Contacts/include/BipedalLocomotion/ContactDetectors/ContactDetector.h
  src/Contacts/include/BipedalLocomotion/ContactDetectors/FixedFootDetector.h
  src/Contacts/include/BipedalLocomotion/ContactDetectors/SchmittTriggerDetector.h
  src/Contacts/include/BipedalLocomotion/Contacts/ContactPhaseList.h
  src/Contacts/src/ContactDetector.cpp
  src/Contacts/src/ContactPhaseList.cpp
  src/Contacts/src/FixedFootDetector.cpp
  src/Contacts/src/SchmittTriggerDetector.cpp
  src/Contacts/tests/ContactDetectors/FixedFootDetectorUnitTest.cpp
  src/Contacts/tests/ContactDetectors/SchmittTriggerDetectorUnitTest.cpp
  src/Math/CMakeLists.txt
  src/Math/include/BipedalLocomotion/Math/Constants.h
  src/Math/include/BipedalLocomotion/Math/SchmittTrigger.h
  src/Math/src/SchmittTrigger.cpp
  src/Math/tests/CMakeLists.txt
  src/Math/tests/SchmittTriggerTest.cpp
Labels: :hammer: component: Contacts, :snake: bindings, :hammer: component: Math

#631 Modify SubModelCreator test and SubModelKinDynWrapper test
  CHANGELOG.md
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModelKinDynWrapper.h
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/SubModelKinDynWrapper.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelKinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/config.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
Labels: :hammer: component: Estimators

#635 Looking for c++17 for python bindings
  .github/workflows/ci.yml
  bindings/python/CMakeLists.txt
Labels: [disable changelog ci], :building_construction: GitHub action, :snake: bindings

#634 fix documentation for QPTSID.h
  CHANGELOG.md
  src/TSID/include/BipedalLocomotion/TSID/QPTSID.h
Labels: :hammer: component: TSID

#637 Add the possibility to update the contact list in the swing foot trajectory planner
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  bindings/python/Planners/src/SwingFootPlanner.cpp
  src/Contacts/include/BipedalLocomotion/Contacts/Contact.h
  src/Contacts/src/Contact.cpp
  src/Planners/include/BipedalLocomotion/Planners/SwingFootPlanner.h
  src/Planners/src/SwingFootPlanner.cpp
  src/Planners/tests/SwingFootPlannerTest.cpp
Labels: :hammer: component: Contacts, :hammer: component: Planners, :snake: bindings

#639 Fix error message for contact wrench variable
  CHANGELOG.md
  src/TSID/src/QPTSID.cpp
Labels: :hammer: component: TSID
