Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-10, with the labels that each got.

#738 Add the possibility to control a subset of linear coordinates in `TSID::SE3Task`
  CHANGELOG.md
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/src/SE3Task.cpp
  src/TSID/include/BipedalLocomotion/TSID/SE3Task.h
  src/TSID/src/SE3Task.cpp
  src/TSID/tests/SE3TaskTest.cpp
Labels: :hammer: component: IK, :hammer: component: TSID

#731 Add last version of RobotDynamicsEstimator code used for the paper - PR1
  CHANGELOG.md
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ConstantMeasurementModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/Dynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/JointVelocityStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/KinDynWrapper.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/MotorCurrentMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModelKinDynWrapper.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ZeroVelocityStateDynamics.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ConstantMeasurementModel.cpp
  src/Estimators/src/Dynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/KinDynWrapper.cpp
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/SubModelKinDynWrapper.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/src/ZeroVelocityStateDynamics.cpp
Labels: :hammer: component: Estimators

#741 CMake: Permit to explictly specify Python installation directory
  CHANGELOG.md
  bindings/CMakeLists.txt
Labels: :snake: bindings

#742 Remove outdated tests - PR2
  CHANGELOG.md
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelKinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/UkfStateTest.cpp
Labels: :hammer: component: Estimators

#746 Modify ci to install and test `RobotDynamicsEstimator` library
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/tests/FloatingBaseEstimators/FloatingBaseEstimatorTest.cpp
  src/Estimators/tests/FloatingBaseEstimators/InvariantEKFBaseEstimatorTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: Estimators

#745 Implement GlobalCoPEvaluator in contact Component
  CHANGELOG.md
  bindings/python/Contacts/CMakeLists.txt
  bindings/python/Contacts/include/BipedalLocomotion/bindings/Contacts/GlobalCoPEvaluator.h
  bindings/python/Contacts/src/GlobalCoPEvaluator.cpp
  bindings/python/Contacts/src/Module.cpp
  src/Contacts/CMakeLists.txt
  src/Contacts/include/BipedalLocomotion/Contacts/Contact.h
  src/Contacts/include/BipedalLocomotion/Contacts/GlobalCoPEvaluator.h
  src/Contacts/src/GlobalCoPEvaluator.cpp
  src/Contacts/tests/Contacts/CMakeLists.txt
  src/Contacts/tests/Contacts/GlobalCoPEvaluatorTest.cpp
  src/Math/include/BipedalLocomotion/Math/Wrench.h
  src/Math/tests/WrenchTest.cpp
Labels: :hammer: component: Contacts, :snake: bindings, :hammer: component: Math
