Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-02, with the labels that each got.

#587 Implement the ROS2 sink for the TextLogging
  CHANGELOG.md
  bindings/python/TextLogging/CMakeLists.txt
  bindings/python/TextLogging/include/BipedalLocomotion/bindings/TextLogging/RosLogger.h
  bindings/python/TextLogging/include/BipedalLocomotion/bindings/TextLogging/RosModule.h
  bindings/python/TextLogging/include/BipedalLocomotion/bindings/TextLogging/TextLogging.h
  bindings/python/TextLogging/src/RosLogger.cpp
  bindings/python/TextLogging/src/RosModule.cpp
  bindings/python/TextLogging/src/TextLogging.cpp
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/TextLogging/CMakeLists.txt
  src/TextLogging/RosImplementation/CMakeLists.txt
  src/TextLogging/RosImplementation/include/BipedalLocomotion/TextLogging/RosLogger.h
  src/TextLogging/RosImplementation/src/RosLogger.cpp
  src/TextLogging/YarpImplementation/include/BipedalLocomotion/TextLogging/YarpLogger.h
  src/TextLogging/YarpImplementation/src/YarpLogger.cpp
  src/TextLogging/include/BipedalLocomotion/TextLogging/DefaultLogger.h
  src/TextLogging/include/BipedalLocomotion/TextLogging/Logger.h
  src/TextLogging/include/BipedalLocomotion/TextLogging/LoggerBuilder.h
  src/TextLogging/src/DefaultLogger.cpp
  src/TextLogging/src/Logger.cpp
Labels: :snake: bindings, :hammer: component: TextLogging

#597 Attempt to fix macOS CI
  .github/workflows/ci.yml
Labels: [disable changelog ci]

#599 Implement QPFixedBaseInverseKinematics class
  CHANGELOG.md
  bindings/python/IK/src/QPInverseKinematics.cpp
  bindings/python/TSID/src/QPTSID.cpp
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/QPFixedBaseInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
  src/IK/src/QPFixedBaseInverseKinematics.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/QPFixedBaseInverseKinematicsTest.cpp
Labels: :hammer: component: IK, :snake: bindings

#602 Fix the documentation in the IK component
  src/IK/include/BipedalLocomotion/IK/QPFixedBaseInverseKinematics.h
  src/IK/include/BipedalLocomotion/IK/QPInverseKinematics.h
Labels: [disable changelog ci], :hammer: component: IK

#604 Add functions to split a robot model into submodel objects
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModel.h
  src/Estimators/src/SubModel.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/model.ini
Labels: :hammer: component: Estimators

#609 Finalize the python bindings for the Spline
  CHANGELOG.md
  bindings/python/IK/src/Module.cpp
  bindings/python/Planners/CMakeLists.txt
  bindings/python/Planners/include/BipedalLocomotion/bindings/Planners/Spline.h
  bindings/python/Planners/src/Module.cpp
  bindings/python/Planners/src/QuinticSpline.cpp
  bindings/python/Planners/src/Spline.cpp
Labels: :snake: bindings

#608 Fix attachRemappedRemoteControlBoard in YarpSensorBridge
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
Labels: :hammer: component: RobotInterface

#610 Implement the python bindings for the iDynTree to manif conversions
  CHANGELOG.md
  bindings/python/Conversions/CMakeLists.txt
  bindings/python/Conversions/src/ManifConversions.cpp
  bindings/python/Conversions/tests/test_manif_conversions.py
Labels: :snake: bindings

#605 Add SubModelKinDynWrapper class
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModelKinDynWrapper.h
  src/Estimators/src/SubModelKinDynWrapper.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/SubModelKinDynWrapperTest.cpp
Labels: :hammer: component: Estimators

#603 Implement the JointLimitsTask for the IK
  CHANGELOG.md
  bindings/python/IK/CMakeLists.txt
  bindings/python/IK/include/BipedalLocomotion/bindings/IK/JointLimitsTask.h
  bindings/python/IK/src/JointLimitsTask.cpp
  bindings/python/IK/src/Module.cpp
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/JointLimitsTask.h
  src/IK/src/JointLimitsTask.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/JointLimitsTaskTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
Labels: :hammer: component: IK, :snake: bindings
