Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-04, with the labels that each got.

#643 Fix compilation when using CMake 3.26.1 and pybind11 2.4.3 (for example on Ubuntu 20.04 GitHub Actions image)
  .github/workflows/ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: :building_construction: GitHub action

#642 Implement NamedTuple and the CentroidalDynamics classes
  CHANGELOG.md
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/DynamicalSystem.h
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/Integrator.h
  bindings/python/ContinuousDynamicalSystem/tests/test_floating_base_system_kinematics.py
  bindings/python/ContinuousDynamicalSystem/tests/test_linear_system.py
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/CentroidalDynamics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/DynamicalSystem.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FixedBaseDynamics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FixedStepIntegrator.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseDynamicsWithCompliantContacts.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/FloatingBaseSystemKinematics.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/ForwardEuler.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/Integrator.h
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/LinearTimeInvariantSystem.h
  src/ContinuousDynamicalSystem/src/CentroidalDynamics.cpp
  src/ContinuousDynamicalSystem/src/FirstOrderSmoother.cpp
  src/ContinuousDynamicalSystem/src/FixedBaseDynamics.cpp
  src/ContinuousDynamicalSystem/src/FloatingBaseDynamicsWithCompliantContacts.cpp
  src/ContinuousDynamicalSystem/src/FloatingBaseSystemKinematics.cpp
  src/ContinuousDynamicalSystem/src/LinearTimeInvariantSystem.cpp
  src/ContinuousDynamicalSystem/tests/FirstOrderSmoother.cpp
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemKinematics.cpp
  src/ContinuousDynamicalSystem/tests/IntegratorLinearSystem.cpp
  src/ContinuousDynamicalSystem/tests/MultiStateWeightProvider.cpp
  src/GenericContainer/CMakeLists.txt
  src/GenericContainer/include/BipedalLocomotion/GenericContainer/NamedTuple.h
  src/GenericContainer/tests/CMakeLists.txt
  src/GenericContainer/tests/NamedTupleTest.cpp
  src/IK/include/BipedalLocomotion/IK/JointLimitsTask.h
  src/IK/src/JointLimitsTask.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/JointLimitsTaskTest.cpp
  src/IK/tests/QPFixedBaseInverseKinematicsTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/TSID/tests/QPFixedBaseTSIDTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :hammer: component: TSID, :snake: bindings, :hammer: component: GenericContainer

#648 Update the inverse_kinematics example to be compliant the new version of ContinousDynamicalSystem
  examples/InverseKinematics/inverse_kinematics.ipynb
Labels: [disable changelog ci], :school: Examples

#647 Speed up the GitHub CI compilation by using all the cores of the GitHub runner
  .github/workflows/ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#653 Update the code to be compatible with LieGroupControllers v0.2.0
  .github/workflows/ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/TSID/src/AngularMomentumTask.cpp
  src/TSID/src/CoMTask.cpp
  src/TSID/src/SE3Task.cpp
  src/TSID/src/SO3Task.cpp
  src/TSID/tests/CoMTaskTest.cpp
  src/TSID/tests/SE3TaskTest.cpp
  src/TSID/tests/SO3TaskTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: TSID

#656 Add the possibility to set vectorial gains in CoM IK and TSID tasks
  CHANGELOG.md
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/src/CoMTask.cpp
  src/TSID/include/BipedalLocomotion/TSID/CoMTask.h
  src/TSID/src/CoMTask.cpp
Labels: :hammer: component: IK, :hammer: component: TSID

#652 Implement a class to perform inference with the MANN network
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/Findonnxruntime.cmake
  src/CMakeLists.txt
  src/ML/CMakeLists.txt
  src/ML/include/BipedalLocomotion/ML/MANN.h
  src/ML/src/MANN.cpp
  src/ML/tests/CMakeLists.txt
  src/ML/tests/FolderPath.h.in
  src/ML/tests/MANNTest.cpp
Labels: :building_construction: GitHub action

#658 Add missing test test_fixed_foot_detector.py to Python tests
  bindings/python/Contacts/CMakeLists.txt
  bindings/python/Contacts/tests/test_fixed_foot_detector.py
Labels: [disable changelog ci], :snake: bindings
