Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2023-07, with the labels that each got.

#697 Use the Cmake targets in the python bindings generation
  bindings/CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/bipedal_locomotion_framework.cpp.in
  cmake/ConfigureFileWithCMakeIf.cmake
  cmake/ConfigureFileWithCMakeIfTarget.cmake
Labels: [disable changelog ci], :snake: bindings

#698 Fix standalone Python bindings workflow
  bindings/python/Contacts/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/Conversions/CMakeLists.txt
  bindings/python/FloatingBaseEstimators/CMakeLists.txt
  bindings/python/IK/CMakeLists.txt
  bindings/python/ML/CMakeLists.txt
  bindings/python/ParametersHandler/CMakeLists.txt
  bindings/python/Planners/CMakeLists.txt
  bindings/python/ReducedModelControllers/CMakeLists.txt
  bindings/python/RobotInterface/CMakeLists.txt
  bindings/python/System/CMakeLists.txt
  bindings/python/TSID/CMakeLists.txt
  bindings/python/TextLogging/CMakeLists.txt
  bindings/python/YarpUtilities/CMakeLists.txt
Labels: [disable changelog ci], :snake: bindings

#700 Fix python bindings compilation when toml is not installed
  CHANGELOG.md
  bindings/python/bipedal_locomotion_framework.cpp.in
Labels: bugfix, :snake: bindings

#701 Fix YarpRobotLoggerDevice if YARP_ROBOT_NAME is not defined
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: bugfix

#704 conda-forge CI: Remove manifpy strict pin
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#702 Use `std::chrono::nanoseconds` in `clock` and `AdvanceableRunner`
  CHANGELOG.md
  bindings/python/System/include/BipedalLocomotion/bindings/System/IClock.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/System/RosImplementation/include/BipedalLocomotion/System/RosClock.h
  src/System/RosImplementation/src/RosClock.cpp
  src/System/YarpImplementation/include/BipedalLocomotion/System/YarpClock.h
  src/System/YarpImplementation/src/YarpClock.cpp
  src/System/include/BipedalLocomotion/System/AdvanceableRunner.h
  src/System/include/BipedalLocomotion/System/IClock.h
  src/System/include/BipedalLocomotion/System/SharedResource.h
  src/System/include/BipedalLocomotion/System/StdClock.h
  src/System/src/StdClock.cpp
  src/System/tests/AdvanceableRunnerTest.cpp
Labels: :hammer: component: System, :snake: bindings

#705 Give the possibility to set an external wrench in the CentroidalDynamics
  CHANGELOG.md
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/CentroidalDynamics.h
  src/ContinuousDynamicalSystem/src/CentroidalDynamics.cpp
  src/ReducedModelControllers/tests/CentroidalMPCTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: ReducedModelControllers

#708 Fix the time logging in YarpRobotLogger device
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: [disable changelog ci]

#709 Remove duplicated find_package for BayesFilters
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
Labels: [disable changelog ci]

#711 Implement RK4 integrator in ContinuousDynamicalSystem component and expose the python bindings
  CHANGELOG.md
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/Integrator.h
  bindings/python/ContinuousDynamicalSystem/src/CentroidalDynamics.cpp
  bindings/python/ContinuousDynamicalSystem/src/LinearTimeInvariantSystem.cpp
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/RK4.h
  src/ContinuousDynamicalSystem/tests/IntegratorLinearSystem.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :snake: bindings

#707 Implement blf-balancing-torque-control
  CHANGELOG.md
  bindings/python/RobotInterface/src/RobotControl.cpp
  bindings/python/YarpUtilities/include/BipedalLocomotion/bindings/YarpUtilities/BufferedPort.h
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpRobotControl.h
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/IRobotControl.h
  utilities/CMakeLists.txt
  utilities/balancing-position-control/config/robots/ergoCubGazeboV1/blf-balancing-position-control-options.ini
  utilities/balancing-position-control/config/robots/ergoCubGazeboV1/blf_balancing_position_control/contact_wrenches.ini
  utilities/balancing-position-control/config/robots/ergoCubGazeboV1/blf_balancing_position_control/ik.ini
  utilities/balancing-position-control/config/robots/ergoCubGazeboV1/blf_balancing_position_control/robot_control.ini
  utilities/balancing-position-control/config/robots/ergoCubGazeboV1/blf_balancing_position_control/sensor_bridge.ini
  utilities/balancing-position-control/config/robots/ergoCubSN000/blf-balancing-position-control-options.ini
  utilities/balancing-position-control/config/robots/ergoCubSN000/blf_balancing_position_control/contact_wrenches.ini
  utilities/balancing-position-control/config/robots/ergoCubSN000/blf_balancing_position_control/ik.ini
  utilities/balancing-position-control/config/robots/ergoCubSN000/blf_balancing_position_control/robot_control.ini
  utilities/balancing-position-control/config/robots/ergoCubSN000/blf_balancing_position_control/sensor_bridge.ini
  utilities/balancing-torque-control/CMakeLists.txt
  utilities/balancing-torque-control/README.md
  utilities/balancing-torque-control/balancing_torque_control/__init__.py
  utilities/balancing-torque-control/balancing_torque_control/wbc.py
  utilities/balancing-torque-control/balancing_torque_control/zmp.py
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf-balancing-torque-control-options.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/contact_wrenches.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/sensor_bridge.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tsid.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :snake: bindings, :hammer: component: RobotInterface, :computer: utilities

#712 Add the possibility to call MANN + Centroidal MPC in python
  CHANGELOG.md
  bindings/python/Contacts/src/Contacts.cpp
  bindings/python/ML/src/MANNTrajectoryGenerator.cpp
  bindings/python/ReducedModelControllers/src/CentroidalMPC.cpp
  src/ReducedModelControllers/include/BipedalLocomotion/ReducedModelControllers/CentroidalMPC.h
  src/ReducedModelControllers/src/CentroidalMPC.cpp
Labels: :hammer: component: ReducedModelControllers, :snake: bindings

#713 Attempt to use the c version of qhull
  .github/workflows/ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/FindQhull.cmake
  src/Planners/CMakeLists.txt
  src/Planners/src/ConvexHullHelper.cpp
Labels: :hammer: component: Planners, :building_construction: GitHub action
