Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-10, with the labels that each got.

#894 Add motor current tracking application
  CHANGELOG.md
  bindings/python/RobotInterface/src/RobotControl.cpp
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  utilities/CMakeLists.txt
  utilities/motor-current-tracking/CMakeLists.txt
  utilities/motor-current-tracking/README.md
  utilities/motor-current-tracking/blf-motor-current-tracking.py
  utilities/motor-current-tracking/config/robots/ergoCubGazeboV1_1/blf-motor-current-tracking-options.ini
  utilities/motor-current-tracking/config/robots/ergoCubGazeboV1_1/blf_motor_current_tracking/data_logging.ini
  utilities/motor-current-tracking/config/robots/ergoCubGazeboV1_1/blf_motor_current_tracking/robot_control.ini
  utilities/motor-current-tracking/config/robots/ergoCubGazeboV1_1/blf_motor_current_tracking/sensor_bridge.ini
  utilities/motor-current-tracking/config/robots/ergoCubSN001/blf-motor-current-tracking-options.ini
  utilities/motor-current-tracking/config/robots/ergoCubSN001/blf_motor_current_tracking/data_logging.ini
  utilities/motor-current-tracking/config/robots/ergoCubSN001/blf_motor_current_tracking/robot_control.ini
  utilities/motor-current-tracking/config/robots/ergoCubSN001/blf_motor_current_tracking/sensor_bridge.ini
Labels: :snake: bindings, :computer: utilities

#887 Add optional initialization of base pose and feet pose in the Unicycle Trajectory Generator
  CHANGELOG.md
  src/Contacts/include/BipedalLocomotion/Contacts/ContactList.h
  src/Contacts/src/ContactList.cpp
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
  src/Planners/tests/UnicycleTrajectoryGeneratorTest.cpp
Labels: :hammer: component: Contacts, :hammer: component: Planners

#895 Fix bug related to prepare_data() method calling
  CHANGELOG.md
  utilities/joints-grid-position-tracking/blf-joints-grid-position-tracking.py
Labels: :computer: utilities

#898 Fix the normal force limit constraint in the CentroidalMPC
  CHANGELOG.md
  src/ReducedModelControllers/src/CentroidalMPC.cpp
Labels: :hammer: component: ReducedModelControllers

#901 Add software position limits to motor current tracking application
  CHANGELOG.md
  utilities/motor-current-tracking/README.md
  utilities/motor-current-tracking/blf-motor-current-tracking.py
Labels: :computer: utilities

#905 Fix loading of Python bindings on Windows when installed in arbitrary directory
  CHANGELOG.md
  bindings/CMakeLists.txt
Labels: :snake: bindings
