Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-09, with the labels that each got.

#879 Add joint velocity limits task
  CHANGELOG.md
  bindings/python/IK/CMakeLists.txt
  bindings/python/IK/include/BipedalLocomotion/bindings/IK/JointVelocityLimitsTask.h
  bindings/python/IK/src/JointVelocityLimitsTask.cpp
  bindings/python/IK/src/Module.cpp
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  src/IK/CMakeLists.txt
  src/IK/include/BipedalLocomotion/IK/JointVelocityLimitsTask.h
  src/IK/src/JointVelocityLimitsTask.cpp
  src/IK/tests/CMakeLists.txt
  src/IK/tests/JointVelocityLimitsTaskTest.cpp
Labels: :hammer: component: IK, :snake: bindings

#880 Add the possibility to set the fixed joint configuration in balancing-torque-control app
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  utilities/balancing-torque-control/README.md
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/robot_control.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :building_construction: GitHub action, :computer: utilities

#884 Use conda-forge's catch2 in CI to avoid build failures, set OMP_NUM_THREADS=1 and updated catch2's used by FetchContent to 3.7.1
  .github/workflows/conda-forge-ci.yml
  cmake/AddBipedalLocomotionUnitTest.cmake
Labels: [disable changelog ci], :building_construction: GitHub action

#888 [ergoCubSN001] Enable the logging of the external wrenches of the legs and the arms IMUs
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/imu_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/mas-remapper.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/webcams.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/blf-yarp-robot-logger-interfaces/wrench_clients.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
Labels: [disable changelog ci]

#893 Switch from actions/checkout@v2 to actions/checkout@v4
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/update-labeler-file.yml
Labels: :building_construction: GitHub action, no changelog

#862 Add basic test for YarpRobotLoggerDevice
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  CHANGELOG.md
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  cmake/valgrind-linux.supp
  devices/YarpRobotLoggerDevice/CMakeLists.txt
  devices/YarpRobotLoggerDevice/README.md
  devices/YarpRobotLoggerDevice/tests/CMakeLists.txt
  devices/YarpRobotLoggerDevice/tests/YarpRobotLoggerDeviceTest.cpp
  devices/YarpRobotLoggerDevice/tests/launch-yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/tests/yarp-robot-logger.xml
Labels: :building_construction: GitHub action
