Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-01, with the labels that each got.

#790 Avoid to call BufferedPort::prepare every time VectorsCollectionServer::populateData is called
  CHANGELOG.md
  bindings/python/YarpUtilities/src/VectorsCollection.cpp
  devices/YarpRobotLoggerDevice/README.md
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/VectorsCollectionServer.h
  src/YarpUtilities/src/VectorsCollectionServer.cpp
  utilities/balancing-position-control/script/blf-balancing-position-control.py
  utilities/joints-grid-position-tracking/blf-joints-grid-position-tracking.py
Labels: :snake: bindings, :hammer: component: YarpUtilities, :computer: utilities

#797 Check that the size the gains and weights vectors are correct
  CHANGELOG.md
  src/ContinuousDynamicalSystem/src/MultiStateWeightProvider.cpp
  src/IK/src/JointLimitsTask.cpp
  src/IK/src/JointTrackingTask.cpp
  src/TSID/src/JointTrackingTask.cpp
Labels: :hammer: component: ContinuousDynamicalSystem, :hammer: component: IK, :hammer: component: TSID

#793 Use IMU measurements to set submodel base state in RDE
  CHANGELOG.md
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ConstantMeasurementModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/Dynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/JointVelocityStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/MotorCurrentMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/SubModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfState.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ZeroVelocityStateDynamics.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ConstantMeasurementModel.cpp
  src/Estimators/src/Dynamics.cpp
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/MotorCurrentMeasurementDynamics.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/src/ZeroVelocityStateDynamics.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConstantMeasurementModelTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/ZeroVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :snake: bindings, :hammer: component: Estimators
