Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-07, with the labels that each got.

#860 add setControlModeAsync member function
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpRobotControl.h
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/IRobotControl.h
Labels: :hammer: component: RobotInterface

#864 Fix link to deprecated CMake target YARP::YARP_OS
  cmake/AddBipedalLocomotionYARPThrift.cmake
Labels: [disable changelog ci]

#868 Add method to get joint limits from control board
  CHANGELOG.md
  bindings/python/RobotInterface/src/RobotControl.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpRobotControl.h
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/IRobotControl.h
Labels: :snake: bindings, :hammer: component: RobotInterface
