Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-06, with the labels that each got.

#849 Fix signal logging in YarpRobotLoggerDevice
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: [disable changelog ci]

#850 Fix `VectorsCollectionClient.read_data(False)` to provide `collection` as output and avoid segmentation fault
  CHANGELOG.md
  bindings/python/YarpUtilities/src/VectorsCollection.cpp
Labels: :snake: bindings

#854 Create python bindings of `VectorsCollection`
  CHANGELOG.md
  bindings/python/YarpUtilities/include/BipedalLocomotion/bindings/YarpUtilities/VectorsCollection.h
  bindings/python/YarpUtilities/src/Module.cpp
  bindings/python/YarpUtilities/src/VectorsCollection.cpp
Labels: :snake: bindings

#844 Modify the unicycle planner
  .github/workflows/ci.yml
  CHANGELOG.md
  bindings/python/Planners/CMakeLists.txt
  bindings/python/Planners/include/BipedalLocomotion/bindings/Planners/UnicycleModule.h
  bindings/python/Planners/include/BipedalLocomotion/bindings/Planners/UnicyclePlanner.h
  bindings/python/Planners/src/UnicycleModule.cpp
  bindings/python/Planners/src/UnicyclePlanner.cpp
  bindings/python/Planners/tests/test_unicycle_planner.py
  bindings/python/bipedal_locomotion_framework.cpp.in
  src/Planners/CMakeLists.txt
  src/Planners/include/BipedalLocomotion/Planners/UnicyclePlanner.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleUtilities.h
  src/Planners/src/UnicyclePlanner.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
  src/Planners/src/UnicycleUtilities.cpp
  src/Planners/tests/CMakeLists.txt
  src/Planners/tests/FolderPath.h.in
  src/Planners/tests/UnicyclePlannerTest.cpp
  src/Planners/tests/UnicycleTrajectoryPlannerTest.cpp
Labels: :hammer: component: Planners, :building_construction: GitHub action, :snake: bindings

#858 Switch from mamba to conda
  .github/workflows/conda-forge-ci.yml
  .github/workflows/gh-pages.yml
  examples/InverseKinematics/README.md
  examples/MANN/README.md
Labels: [disable changelog ci], :building_construction: GitHub action, :school: Examples
