Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-03, with the labels that each got.

#814 Fixed setting of target include directories for the yarp devices
  .gitignore
  cmake/AddBipedalLocomotionYARPDevice.cmake
Labels: [disable changelog ci]

#815 add UnicyclePlanner unit test
  CHANGELOG.md
  src/Planners/tests/CMakeLists.txt
  src/Planners/tests/UnicyclePlannerTest.cpp
Labels: :hammer: component: Planners

#818 Export the CoM velocity and the angular momentum trajectory in the CentroidalMPC
  CHANGELOG.md
  bindings/python/ReducedModelControllers/src/CentroidalMPC.cpp
  src/ReducedModelControllers/include/BipedalLocomotion/ReducedModelControllers/CentroidalMPC.h
  src/ReducedModelControllers/src/CentroidalMPC.cpp
Labels: :hammer: component: ReducedModelControllers, :snake: bindings

#821 Add member function to set gravity vector in centroidal dynamics system
  CHANGELOG.md
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/CentroidalDynamics.h
  src/ContinuousDynamicalSystem/src/CentroidalDynamics.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

#824 Add the possibility to set the exogenous signal for the IK::CoMTask
  CHANGELOG.md
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/src/CoMTask.cpp
Labels: :hammer: component: IK

#825 Add getJointTorques to python bindings
  CHANGELOG.md
  bindings/python/RobotInterface/src/SensorBridge.cpp
Labels: :snake: bindings

#817 RT Capabilities Part 1 - YARP Logger Device
  .gitignore
  CHANGELOG.md
  bindings/python/YarpUtilities/include/BipedalLocomotion/bindings/YarpUtilities/VectorsCollection.h
  bindings/python/YarpUtilities/src/Module.cpp
  bindings/python/YarpUtilities/src/VectorsCollection.cpp
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpTextLoggingUtilities.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: :snake: bindings

#826 Adding time profiler to BLF.
  CHANGELOG.md
  src/System/CMakeLists.txt
  src/System/include/BipedalLocomotion/System/TimeProfiler.h
  src/System/src/TimeProfiler.cpp
Labels: :hammer: component: System
