Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2024-04, with the labels that each got.

#831 Constraint pybind11 version to fix conda-forge Windows CI
  .github/workflows/conda-forge-ci.yml
Labels: [disable changelog ci], :building_construction: GitHub action

#827 InstallBasicPackageFiles: Fix bug of OVERRIDE_MODULE_PATH that corrupt CMAKE_MODULE_PATH values set by blf transitive dependencies
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  cmake/InstallBasicPackageFiles.cmake
Labels: :building_construction: GitHub action

#833 Refactor YarpRobotControl::setReferences function to include optional current joint values and avoid to switch control mode in YarpRobotControl::setReferences
  CHANGELOG.md
  bindings/python/RobotInterface/src/RobotControl.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpRobotControl.h
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/IRobotControl.h
  utilities/balancing-position-control/script/blf-balancing-position-control.py
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf-balancing-torque-control-options.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/data_logging.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tsid.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
  utilities/joint-position-tracking/src/Module.cpp
  utilities/joint-trajectory-player/src/Module.cpp
Labels: :snake: bindings, :hammer: component: RobotInterface, :computer: utilities

#768 Add support for testing if a portion of code allocates memory via MemoryAllocationMonitor
  CHANGELOG.md
  CMakeLists.txt
  cmake/AddBipedalLocomotionFrameworkTarget.cmake
  cmake/AddBipedalLocomotionLibrary.cmake
  cmake/AddBipedalLocomotionUnitTest.cmake
  cmake/AddBipedalLocomotionYARPThrift.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
  src/ContinuousDynamicalSystem/tests/FirstOrderSmoother.cpp
  src/ContinuousDynamicalSystem/tests/IntegratorFloatingBaseSystemKinematics.cpp
  src/ContinuousDynamicalSystem/tests/IntegratorLinearSystem.cpp
  src/ContinuousDynamicalSystem/tests/MultiStateWeightProvider.cpp
  src/TestUtils/CMakeLists.txt
  src/TestUtils/MemoryAllocationMonitor.cpp
  src/TestUtils/MemoryAllocationMonitorDummy.cpp
  src/TestUtils/MemoryAllocationMonitorGlobalVariables.h
  src/TestUtils/MemoryAllocationMonitorRedefinedMemoryFunctions.c
  src/TestUtils/include/BipedalLocomotion/TestUtils/MemoryAllocationMonitor.h
  src/TestUtils/tests/CMakeLists.txt
  src/TestUtils/tests/MemoryAllocationMonitorTest.cpp
Labels: :hammer: component: ContinuousDynamicalSystem

#835 InstallBasicPackageFiles: Fix OVERRIDE_MODULE_PATH with CMake >=3.29.1
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  cmake/InstallBasicPackageFiles.cmake
Labels: :building_construction: GitHub action

#834 Implement ZeroOrderSpline and add the possibility to get only position or position/velocity from the spline
  CHANGELOG.md
  bindings/python/Math/include/BipedalLocomotion/bindings/Math/Spline.h
  bindings/python/Math/src/Module.cpp
  bindings/python/Math/src/Spline.cpp
  src/Math/CMakeLists.txt
  src/Math/include/BipedalLocomotion/Math/Spline.h
  src/Math/include/BipedalLocomotion/Math/ZeroOrderSpline.h
  src/Math/tests/SplineTest.cpp
Labels: :snake: bindings, :hammer: component: Math

#836 Add the possibility to set the number of threads used by onnxruntime in MANN
  CHANGELOG.md
  src/ML/include/BipedalLocomotion/ML/MANN.h
  src/ML/src/MANN.cpp
Labels: :hammer: component: ML

#838 Implement ButterworthLowPassFilter
  CHANGELOG.md
  src/ContinuousDynamicalSystem/CMakeLists.txt
  src/ContinuousDynamicalSystem/include/BipedalLocomotion/ContinuousDynamicalSystem/ButterworthLowPassFilter.h
  src/ContinuousDynamicalSystem/src/ButterworthLowPassFilter.cpp
  src/ContinuousDynamicalSystem/tests/ButterworthLowPassFilter.cpp
  src/ContinuousDynamicalSystem/tests/CMakeLists.txt
Labels: :hammer: component: ContinuousDynamicalSystem

#839 Add maximum admissible time step parameter to YarpRobotLoggerDevice
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
Labels: bugfix

#840 Implement the python bindings for the Butterworth low pass filter
  bindings/python/ContinuousDynamicalSystem/CMakeLists.txt
  bindings/python/ContinuousDynamicalSystem/include/BipedalLocomotion/bindings/ContinuousDynamicalSystem/ButterworthLowPassFilter.h
  bindings/python/ContinuousDynamicalSystem/src/ButterworthLowPassFilter.cpp
  bindings/python/ContinuousDynamicalSystem/src/Module.cpp
  bindings/python/System/include/BipedalLocomotion/bindings/System/Advanceable.h
  bindings/python/System/src/Advanceable.cpp
  bindings/python/System/src/Module.cpp
Labels: [disable changelog ci], :snake: bindings

#823 set gravity vector as an input argument of the CentroidalMPC
  CHANGELOG.md
  src/ReducedModelControllers/include/BipedalLocomotion/ReducedModelControllers/CentroidalMPC.h
  src/ReducedModelControllers/src/CentroidalMPC.cpp
Labels: :hammer: component: ReducedModelControllers

#842 Implement Conversions::toiDynTreeRot function
  CHANGELOG.md
  src/Conversions/include/BipedalLocomotion/Conversions/ManifConversions.h
  src/Conversions/tests/ManifConversionsTest.cpp
Labels: :hammer: component: Conversions
