Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2025-05, with the labels that each got.

#959 Change logic of RobotDynamicsEstimator and code refactoring
  CHANGELOG.md
  bindings/python/RobotDynamicsEstimator/src/RobotDynamicsEstimator.cpp
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/src/RobotDynamicsEstimatorDevice.cpp
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/AccelerometerMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/GyroscopeMeasurementDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/RobotDynamicsEstimator.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfMeasurement.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/UkfModel.h
  src/Estimators/src/AccelerometerMeasurementDynamics.cpp
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/GyroscopeMeasurementDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/KinDynWrapper.cpp
  src/Estimators/src/RobotDynamicsEstimator.cpp
  src/Estimators/src/SubModel.cpp
  src/Estimators/src/UkfMeasurement.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :snake: bindings, :hammer: component: Estimators

#964 Add possibility to control linear actuator
  CHANGELOG.md
  src/RobotInterface/CMakeLists.txt
  src/RobotInterface/YarpImplementation/src/YarpRobotControl.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/JointType.h
Labels: :hammer: component: RobotInterface

#968 Fix wrong URL and hash for ergoCubSN001 model in RobotDynamicsEstimator tests
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
Labels: :hammer: component: Estimators

#972 Move apt-based CI to Ubuntu 24.04 and use colcon and vcstool
  .ci/blf_apt_deps.yaml
  .ci/blf_apt_deps_options.meta
  .github/workflows/apt-ci.yml
  .github/workflows/ci.yml
  cmake/AddBipedalLocomotionUnitTest.cmake
  cmake/valgrind-linux.supp
  src/TestUtils/tests/CMakeLists.txt
  src/TestUtils/tests/MemoryAllocationMonitorTest.cpp
Labels: :building_construction: GitHub action, :hammer: component: TestUtils

#976 Update gh-pages.yml job to use ubuntu-24.04 image instead of ubuntu-20.04
  .github/workflows/gh-pages.yml
Labels: :building_construction: GitHub action

#974 conda-ci: On Windows migrate to use VS2022
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action

#980 Remove changelog-checker CI
  .github/workflows/changelog-checker.yml
Labels: :building_construction: GitHub action

#982 Release 0.21.1
  CMakeLists.txt
  docs/config.toml
  docs/pages/main-page.dox
Labels: :book: documentation
