Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2025-03, with the labels that each got.

#947 Attempt to fix the documentation
  docs/config.toml
  src/ML/include/BipedalLocomotion/ML/VelMANNTrajectoryGenerator.h
Labels: :book: documentation, :hammer: component: ML

#945 Bump spdlog version in CI conda-forge
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action, no changelog

#946 Add motor temperature sensor support to SensorBridge and YarpSensorBridge and logger
  CHANGELOG.md
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridge.h
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/YarpImplementation/src/YarpSensorBridge.cpp
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

#949 Add joint type handling to YarpSensorBridge in case of prismatic and revolute joints
  CHANGELOG.md
  src/RobotInterface/YarpImplementation/include/BipedalLocomotion/RobotInterface/YarpSensorBridgeImpl.h
  src/RobotInterface/include/BipedalLocomotion/RobotInterface/ISensorBridge.h
Labels: :hammer: component: RobotInterface

#955 Update version of tiny-process-lib and cvnp to fix usage with CMake 4 and numpy 2
  CHANGELOG.md
  bindings/python/RobotInterface/CMakeLists.txt
  devices/YarpRobotLoggerDevice/CMakeLists.txt
Labels: :snake: bindings

#956 Support compilation with casadi >= 3.7.0
  CHANGELOG.md
  CMakeLists.txt
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  src/Conversions/CMakeLists.txt
  src/Planners/CMakeLists.txt
  src/ReducedModelControllers/CMakeLists.txt
Labels: :hammer: component: Planners, :hammer: component: ReducedModelControllers, :hammer: component: Conversions
