Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2025-01, with the labels that each got.

#919 Add missing `ContinuousDynamicalSystem` row to `Exported components` in the README
  CHANGELOG.md
  README.md
  docs/pages/main-page.dox
Labels: :book: documentation

#910 Some improvements on the YarpRobotLoggerDevice and removed ROS1 device
  .github/workflows/ci.yml
  .github/workflows/conda-forge-ci.yml
  CHANGELOG.md
  CMakeLists.txt
  bindings/CMakeLists.txt
  bindings/python/CMakeLists.txt
  cmake/AddBipedalLocomotionYARPDevice.cmake
  cmake/BipedalLocomotionFrameworkDependencies.cmake
  devices/CMakeLists.txt
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubGazeboV1_1/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN000/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN001/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/ergoCubSN002/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGazeboV3/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/app/robots/iCubGenova09/yarp-robot-logger.xml
  devices/YarpRobotLoggerDevice/include/BipedalLocomotion/YarpRobotLoggerDevice.h
  devices/YarpRobotLoggerDevice/src/YarpRobotLoggerDevice.cpp
  devices/YarpRobotLoggerDevice/tests/launch-yarp-robot-logger.xml
  devices/examples/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/README.md
  devices/examples/ROSPublisherTestDevice/app/CMakeLists.txt
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/launch-ros-publisher-test.xml
  devices/examples/ROSPublisherTestDevice/app/robots/iCubGazeboV2_5/publisher/ros-publisher.xml
  devices/examples/ROSPublisherTestDevice/include/BipedalLocomotion/ROSPublisherTestDevice.h
  devices/examples/ROSPublisherTestDevice/ros-publisher-test-runner.xml
  devices/examples/ROSPublisherTestDevice/src/ROSPublisherTestDevice.cpp
  src/Estimators/tests/FloatingBaseEstimators/BaseEstimatorFromFootIMUTest.cpp
  src/YarpUtilities/CMakeLists.txt
  src/YarpUtilities/include/BipedalLocomotion/YarpUtilities/RosPublisher.h
  src/YarpUtilities/src/RosPublisher.cpp
Labels: :building_construction: GitHub action, :snake: bindings, :hammer: component: YarpUtilities, :hammer: component: Estimators

#916 Add zmp generator and populate all outputs of the unycycle trajectory generator
  CHANGELOG.md
  examples/UnicycleTrajectoryGenerator/main.cpp
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryPlanner.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
  src/Planners/src/UnicycleTrajectoryPlanner.cpp
  src/Planners/src/UnicycleUtilities.cpp
Labels: :hammer: component: Planners, :school: Examples

#922 Variable feasible region task
  CHANGELOG.md
  bindings/python/TSID/CMakeLists.txt
  bindings/python/TSID/include/BipedalLocomotion/bindings/TSID/VariableFeasibleRegionTask.h
  bindings/python/TSID/src/Module.cpp
  bindings/python/TSID/src/VariableFeasibleRegionTask.cpp
  bindings/python/TSID/tests/test_TSID.py
  src/TSID/CMakeLists.txt
  src/TSID/include/BipedalLocomotion/TSID/VariableFeasibleRegionTask.h
  src/TSID/src/VariableFeasibleRegionTask.cpp
  src/TSID/tests/CMakeLists.txt
  src/TSID/tests/VariableFeasibleRegionTaskTest.cpp
Labels: :hammer: component: TSID, :snake: bindings

#926 Fix bug in tsid balancing torque control
  CHANGELOG.md
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/base_dynamics.ini
  utilities/balancing-torque-control/config/robots/ergoCubGazeboV1/blf_balancing_torque_control/tasks/joint_dynamics.ini
  utilities/balancing-torque-control/script/blf-balancing-torque-control.py
Labels: :computer: utilities

#928 Add member function to return current time of fixed foot detector
  CHANGELOG.md
  src/Contacts/include/BipedalLocomotion/ContactDetectors/FixedFootDetector.h
  src/Contacts/src/FixedFootDetector.cpp
Labels: :hammer: component: Contacts

#927 Enable the setting of the measured feet transform for the Unicycle Trajectory Generator
  CHANGELOG.md
  src/Planners/include/BipedalLocomotion/Planners/UnicycleTrajectoryGenerator.h
  src/Planners/src/UnicycleTrajectoryGenerator.cpp
Labels: :hammer: component: Planners
