Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2025-04, with the labels that each got.

#957 Fix Ubuntu 20.04 CI job
  .github/workflows/ci.yml
Labels: :building_construction: GitHub action, no changelog

#953 Refactor RobotDynamicsEstimator: Remove FrictionTorqueStateDynamics, Fix Tests
  CHANGELOG.md
  devices/RobotDynamicsEstimatorDevice/app/robots/ergoCubGazeboV1/robot-dynamics-estimator.xml
  src/Estimators/CMakeLists.txt
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/ExternalContactStateDynamics.h
  src/Estimators/include/BipedalLocomotion/RobotDynamicsEstimator/FrictionTorqueStateDynamics.h
  src/Estimators/src/ExternalContactStateDynamics.cpp
  src/Estimators/src/FrictionTorqueStateDynamics.cpp
  src/Estimators/src/JointVelocityStateDynamics.cpp
  src/Estimators/src/UkfModel.cpp
  src/Estimators/src/UkfState.cpp
  src/Estimators/tests/RobotDynamicsEstimator/AccelerometerMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/CMakeLists.txt
  src/Estimators/tests/RobotDynamicsEstimator/ConfigFolderPath.h.in
  src/Estimators/tests/RobotDynamicsEstimator/ExternalContactStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/FrictionTorqueStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/GyroscopeMeasurementDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/JointVelocityStateDynamicsTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/KinDynWrapperTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/RobotDynamicsEstimationTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/SubModelCreatorTest.cpp
  src/Estimators/tests/RobotDynamicsEstimator/config/model.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_measurement.ini
  src/Estimators/tests/RobotDynamicsEstimator/config/ukf/ukf_state.ini
Labels: :hammer: component: Estimators

#962 Only link pcl_common to PerceptionInterface instead of the full PCL_LIBRARIES
  CHANGELOG.md
  src/RobotInterface/CMakeLists.txt
  utilities/realsense-test/CMakeLists.txt
Labels: :hammer: component: RobotInterface, :computer: utilities
