Repository ami-iit/bipedal-locomotion-framework, pull requests merged in 2025-02, with the labels that each got.

#934 Enable Programmatic Creation of VariableRegularizationTask
  CHANGELOG.md
  src/TSID/include/BipedalLocomotion/TSID/VariableRegularizationTask.h
Labels: :hammer: component: TSID

#936 Fix iDynTree warnings
  bindings/python/ML/src/VelMANNAutoregressive.cpp
  bindings/python/ML/src/VelMANNTrajectoryGenerator.cpp
  devices/FloatingBaseEstimatorDevice/include/BipedalLocomotion/FloatingBaseEstimatorDevice.h
  devices/RobotDynamicsEstimatorDevice/include/BipedalLocomotion/RobotDynamicsEstimatorDevice.h
  src/Estimators/CMakeLists.txt
  src/Estimators/tests/FloatingBaseEstimators/CMakeLists.txt
  src/ML/src/VelMANNAutoregressive.cpp
  src/ML/src/VelMANNTrajectoryGenerator.cpp
  src/ML/tests/VelMANNTrajectoryGeneratorTest.cpp
Labels: :snake: bindings, :hammer: component: Estimators, :hammer: component: ML, no changelog

#941 Do not run cmake-package-check on Windows under bash
  .github/workflows/conda-forge-ci.yml
Labels: :building_construction: GitHub action, no changelog

#939 Add isSetPointSetAtLeastOnce flag to IK and TSID task classes for set-point validation
  CHANGELOG.md
  bindings/python/IK/src/GravityTask.cpp
  bindings/python/IK/tests/test_QP_inverse_kinematics.py
  src/IK/include/BipedalLocomotion/IK/AngularMomentumTask.h
  src/IK/include/BipedalLocomotion/IK/CoMTask.h
  src/IK/include/BipedalLocomotion/IK/DistanceTask.h
  src/IK/include/BipedalLocomotion/IK/GravityTask.h
  src/IK/include/BipedalLocomotion/IK/JointTrackingTask.h
  src/IK/include/BipedalLocomotion/IK/R3Task.h
  src/IK/include/BipedalLocomotion/IK/SE3Task.h
  src/IK/include/BipedalLocomotion/IK/SO3Task.h
  src/IK/src/AngularMomentumTask.cpp
  src/IK/src/CoMTask.cpp
  src/IK/src/DistanceTask.cpp
  src/IK/src/GravityTask.cpp
  src/IK/src/JointTrackingTask.cpp
  src/IK/src/R3Task.cpp
  src/IK/src/SE3Task.cpp
  src/IK/src/SO3Task.cpp
  src/IK/tests/AngularMomentumTaskTest.cpp
  src/IK/tests/CoMTaskTest.cpp
  src/IK/tests/DistanceTaskTest.cpp
  src/IK/tests/GravityTaskTest.cpp
  src/IK/tests/QPInverseKinematicsTest.cpp
  src/IK/tests/R3TaskTest.cpp
  src/IK/tests/SE3TaskTest.cpp
  src/IK/tests/SO3TaskTest.cpp
  src/TSID/include/BipedalLocomotion/TSID/AngularMomentumTask.h
  src/TSID/include/BipedalLocomotion/TSID/CoMTask.h
  src/TSID/include/BipedalLocomotion/TSID/JointTrackingTask.h
  src/TSID/include/BipedalLocomotion/TSID/R3Task.h
  src/TSID/include/BipedalLocomotion/TSID/SE3Task.h
  src/TSID/include/BipedalLocomotion/TSID/SO3Task.h
  src/TSID/include/BipedalLocomotion/TSID/VariableRegularizationTask.h
  src/TSID/src/AngularMomentumTask.cpp
  src/TSID/src/CoMTask.cpp
  src/TSID/src/JointTrackingTask.cpp
  src/TSID/src/R3Task.cpp
  src/TSID/src/SE3Task.cpp
  src/TSID/src/SO3Task.cpp
  src/TSID/src/VariableRegularizationTask.cpp
  src/TSID/tests/AngularMomentumTaskTest.cpp
  src/TSID/tests/CoMTaskTest.cpp
  src/TSID/tests/JointTrackingTaskTest.cpp
  src/TSID/tests/R3TaskTest.cpp
  src/TSID/tests/SE3TaskTest.cpp
  src/TSID/tests/SO3TaskTest.cpp
  src/TSID/tests/VariableRegularizationTaskTest.cpp
Labels: :hammer: component: IK, :hammer: component: TSID, :snake: bindings
